<footer>
    <div class="container">
        <div class="footer__content">
            <ul>
                <li><a href="#">Политика оператора</a></li>
                <li>Ястребова Дарья</li>
                <li><a href="mailto:dashayastrebova@bk.ru">dashayastrebova@bk.ru</a></li>
            </ul>
        </div>
    </div>
</footer>