<header>
    <nav>
        <div class="container">
            <div class="nav__content" data-aos="fade-down" data-aos-duration="1000">
                <ul>
                    <div class="ul__left">
                        <li><a href="rules.html">ПРАВИЛА ОБУЧЕНИЯ</a></li>
                    </div>
                    <div class="ul__right">
                        <li><a href="vacancies.html">ВАКАНСИИ</a></li>
                        <li><a href="lk.html">ЛИЧНЫЙ КАБИНЕТ</a></li>
                    </div>
                </ul>
                <div class="nav__logo">
                    <img src="/img/logo.svg" alt="">
                </div>
            </div>
        </div>
    </nav>
</header>