<div class="container">
<header class="header">
    <div class="learning-rules"><a href="/rules">ПРАВИЛА ОБУЧЕНИЯ</a></div>
    <a href="/"><img src="/img/logo.svg" alt="Logo" class="logo" /></a>
    <nav class="nav">
      <div class="vacancies"><a href="/vacancies">ВАКАНСИИ</a></div>
      <div class="profile"><a href="/lk">ЛИЧНЫЙ КАБИНЕТ</a></div>
      <div class="line"></div>
    </nav>
  </header>
</div>