<header>
    <nav>
        <div class="header_container">
            <div class="nav__content" data-aos="fade-down" data-aos-duration="1000">
                <ul>
                    <div class="ul__left">
                        <li><a href="/rules">ПРАВИЛА ОБУЧЕНИЯ</a></li>
                    </div>
                    <div class="ul__right">
                        <li><a href="/vacancies">ВАКАНСИИ</a></li>
                        <li><a href="/lk">ЛИЧНЫЙ КАБИНЕТ</a></li>
                    </div>
                </ul>
                <div class="nav__logo">
                    <a href="/"><img src="/img/logo.svg" alt="Logo" class="logo" /></a>
                </div>
            </div>
        </div>
    </nav>
</header>