<div class="title"><h3>* Задание: необходимо создать композиционный прием "ритм" из предложенных кругов. </h3></div>
    <section class="draggable-elements">
        <img src="/img/2.png" class="fas fa-2 draggable" draggable="true" id="2">
        <img src="/img/5.png" class="fas fa-5 draggable" draggable="true" id="5">
        <img src="/img/4.png" class="fas fa-4 draggable" draggable="true" id="4">
        <img src="/img/1.png" class="fas fa-1 draggable" draggable="true" id="1">
        <img src="/img/3.png" class="fas fa-3 draggable" draggable="true" id="3">
      </section>
      <section class="droppable-elements">
        <div class="droppable" data-draggable-id="1"><span></span></div>
        <div class="droppable" data-draggable-id="2"><span></span></div>
        <div class="droppable" data-draggable-id="3"><span></span></div>
        <div class="droppable" data-draggable-id="4"><span></span></div>
        <div class="droppable" data-draggable-id="5"><span></span></div>
      </section>
      <div class=e535_294>
        <span  class="e535_295"><a href="/learning">ЗАКОНЧИТЬ</a></span></div>
        <div class=out>
            <span  class="button_out"><a href="/learning">ВЫЙТИ</a></span></div>
        <script src="/js/js_3.js"></script>