<%- include('./layouts/header.ejs') %>

<main>
    <section class="main">
        <div class="container">
            <div class="main__content" data-aos="fade-down" data-aos-duration="1000">
                <div class="main__left">
                    <div class="main__title">
                        <h1>
                            * Лучший способ изучения дизайна с Графикус
                        </h1>
                    </div>
                    <div class="main__subtitle">Графикус — платформа с тремя разделами дизайна, доступными
                        для изучения.
                        Интересные теоретические уроки и интерактивные практические занятия, которые увлекут
                        каждого.
                    </div>
                    <div class="main__themes">
                        <img src="/img/themes.png" alt="">
                    </div>
                </div>
                <div class="main__right">
                    <div class="image3d">
                        <img src="/img/3d.png" alt="">
                    </div>
                    <div class="main__study study__button">
                        <a href="/learning">ПЕРЕЙТИ К ОБУЧЕНИЮ</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="benefits" data-aos="fade-down">
        <div class="container">
            <div class="benefits__content" data-aos="fade-down" data-aos-duration="1000">
                <div class="benefits__items">
                    <div class="benefits__item ">
                        <div class="item__first">Практические интерактивные задания после каждого пройденного урока.
                            Подойдут для новичков, чтобы освоить инструменты дизайнера и для профессиональнов
                            для проверки.</div>
                    </div>
                    <div class="benefits__item">
                        <div class="item__third">Динамичные и интересные теоретические уроки, которые понятным
                            языком донесут выбранную тему. Собрана только необходимая информация, которая
                            действительно будет полезной.</div>
                    </div>
                    <div class="benefits__item ">
                        <div class="item__second">Возможность отслеживания <br> своего прогресса в личном кабинете,
                            который обновляется каждый раз после прохождения практического задания.</div>
                    </div>
                    <div class="benefits__item ">
                        <div class="item__fourth"><span>Уникальные вакансии только</span><br> для студентов
                            Графикус, которые помогут начать выполнять реальные проекты и общаться с клиентами.
                        </div>
                    </div>
                </div>
                <div class="benefits__question">
                    <div class="benefits__question-text">
                        В чем преимущество?
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="learn" data-aos="fade-down" data-aos-duration="1000">
        <div class="container">
            <div class="learn__content" data-aos="fade-down">
                <div class="learn__title">
                    <h2>Чему ты научишься здесь</h2>
                </div>
                <div class="learn__items">
                    <div class="learn__left">
                        <div class="learn__side-item">
                            <div class="side-item-image">
                                <img src="/img/learn_icons/pen.png" alt="">
                            </div>
                            <div class="side-item-text">Базово освоишь инстру-мент “перо”, владение которым
                                необходимо каждому дизайнеру.
                                <br>
                                Зачем? Для создания логотипов, иллюстраций и много другого.
                            </div>
                        </div>

                        <div class="learn__side-item">
                            <div class="side-item-image">
                                <img src="/img/learn_icons/circle.png" alt="">
                            </div>
                            <div class="side-item-text">Узнаешь, что такое цветовой круг Иттена, почему он так важен, и какие у него есть правила. Уже слышал такие слова, как триада, комплиментарность?
                            </div>
                        </div>

                    </div>
                    <div class="learn__center">
                        <div class="learn__center-item">
                            А также ты узнаешь термины и словарь дизайнера, который используется ежедневно;
                            <br>
                            <br>

                            Разберёшься с этапами работы над проектами, правилами взаимодействия с клиентом;
                            <br>
                            <br>

                            Правильную подготовку проекта к печати;
                            <br>
                            <br>

                            Базовые принципы дизайна;
                            <br>
                            <br>
                            Что такое висящие предлоги;
                            <br>
                            <br>

                            Лендинг, баннер, постер.
                        </div>
                    </div>
                    <div class="learn__right">
                        <div class="learn__side-item">
                            <div class="side-item-image">
                                <img src="/img/learn_icons/cubes.png" alt="">
                            </div>
                            <div class="side-item-text">Узнаешь правила композиции, научишься отличать статику от динамики, грусть от счастья и многое другое. Уже заинтрегован?
                            </div>
                        </div>
                        <div class="learn__side-item">
                            <div class="side-item-image">
                                <img src="/img/learn_icons/va.png" alt="">
                            </div>
                            <div class="side-item-text">Научишься работать с кернингом, узнаешь какие бывают шрифты и правила работы с ними. Также уделим внимание подготовке макета к печати и правила передачи дизайна клиенту.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="learn__button study__button"><a href="/learning">Перейти к обучению</a></div>
            </div>
        </div>
    </section>

    <section class="faq">
        <div class="container" data-aos="fade-down" data-aos-duration="1000">

            <div class="faq__title">
                <h2>Часто задаваемые вопросы</h2>
            </div>

            <div class="collapsible">
                <input type="checkbox" id="collapsible-head">
                <label for="collapsible-head">Почему дизайн сейчас так популярен и большая ли конкуренция среди
                    специалистов?</label>
                <div class="collapsible-text">
                    <p>С развитием технологий и увеличением конкуренции в бизнесе, компаниям становится все важнее
                        выделяться на рынке через дизайн продуктов, услуг, упаковки. Дизайнеры имеют гибкий график,
                        могут работать из любой точки мира, а также с любыми сферами бизнеса. Опытные дизайнеры
                        имеют высокий доход и большой поток клиентов. На данный момент конкуренция среди хороших
                        специалистов небольшая, потому что многие дизайнеры останавливаются на самих первых шагач
                        и не продолжают развитие в данной профессиию.</p>
                </div>

            </div>
            <div class="collapsible">
                <input type="checkbox" id="collapsible-head2">
                <label for="collapsible-head2">Сколько может зарабатывать дизайнер?</label>
                <div class="collapsible-text">
                    <p>Заработок профессионального дизайнера с опытом работы более 2 лет может достигать 200-300
                        тысяч рублей в месяц, некоторые специалисты достигают сумму в 500 тысяч рублей. Эта цифра
                        зависит от количества выполненных проектов, сфер, с которыми работает дизайнер, потребности
                        клиента.</p>
                </div>

            </div>
            <div class="collapsible">
                <input type="checkbox" id="collapsible-head3">
                <label for="collapsible-head3">Необходимо ли высшее образование?</label>
                <div class="collapsible-text">
                    <p>Несомненно наличие высшего образования в смежных с дизайном направлениях дает преимущества
                        при устройстве на работу в агентство, но самое главное в профессии - насмотренность,
                        портфолио и навыки специалиста.</p>
                </div>

            </div>
            <div class="collapsible">
                <input type="checkbox" id="collapsible-head4">
                <label for="collapsible-head4">Заменит ли ИИ дизайнера?</label>
                <div class="collapsible-text">
                    <p>На данный момент существует большое количество исследований, статей, мнений и выводов на этот
                        счет, и все они сводятся к тому, что искусственный интеллект не заменит дизайнера. ИИ
                        является большим помощником в данной сфере, но выполнять всю работу за профессионала он не
                        сможет. Именно поэтому не стоит переживать, что в ближайшие годы профессия дизайнера
                        перестанет быть актуальной и нужной.</p>
                </div>

            </div>
            <div class="collapsible collapsible-last">
                <input type="checkbox" id="collapsible-head5">
                <label for="collapsible-head5">Сколько времени на прохождение?</label>
                <div class="collapsible-text">
                    <p>Доступ к платформе абсолютно бесплатный и бессрочный. Ты можешь в своем темпе изучать разделы
                        и темы, проходить практические задания.</p>
                </div>

            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<%- include('./layouts/footer.ejs') %>



<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script type="text/javascript" defer src="/js/view_script.js"></script>