<body>
    <div class="title"><h3>* Задание: соотнесите верхние картинки с названиями приемов в композиции (поля снизу)</h3></div>
    <section class="draggable-elements">
        <img src="/img/flat_t.png" class="fas fa-flat draggable" draggable="true" style="color: #ffce56;" id="flat">
        <img src="/img/google_t.png" class="fas fa-google draggable" draggable="true" style="color: #97CC04;" id="google">
        <img src="/img/brut_t.png" class="fas fa-brut draggable" draggable="true" style="color: #FB7C08;" id="brut">
        <img src="/img/granj_t.png" class="fas fa-granj draggable" draggable="true" style="color: #FF5949;" id="granj">
        <img src="/img/scver_t.png" class="fas fa-scver draggable" draggable="true" style="color: #C0C9E1;" id="scver">
      </section>
      <section class="droppable-elements">
        <div class="droppable" data-draggable-id="google"><span>Материальный</span></div>
        <div class="droppable" data-draggable-id="brut"><span>Брутализм</span></div>
        <div class="droppable" data-draggable-id="scver"><span>Скевоморфизм</span></div>
        <div class="droppable" data-draggable-id="granj"><span>Гранж</span></div>
        <div class="droppable" data-draggable-id="flat"><span>Плоский</span></div>
      </section>
      <div class=e535_294>
        <span  class="e535_295"><a href="">ЗАКОНЧИТЬ</a></span></div>
        <div class=out>
            <span  class="button_out"><a href="/learning">ВЫЙТИ</a></span></div>
        <script src="/js/js.js"></script>
    </body>