<%- include('./layouts/header.ejs') %>

<main>

    <section class="theme">
        <div class="main__left">
        <div class="container" data-aos="fade-down" data-aos-duration="1000">


            <div class="collapsible">
                <input type="checkbox" id="collapsible-head">
                <label for="collapsible-head">* Основы дизайна</label>
                <div class="collapsible-text">
                    <p><a href="/lesson_font">Шрифты</a></p>
                    <p><a href="/lesson_comp">Композиция</a></p>
                    <p><a href="/lesson_color">Цветовой круг</a></p>
                
                </div>

            </div>
            <div class="collapsible">
                <input type="checkbox" id="collapsible-head2">
                <label for="collapsible-head2">* Графический дизайн</label>
                <div class="collapsible-text">
                    <p><a href="/lesson_logo">Логотип</a></p>
                    <p><a href="/lesson_fs">Фирменный стиль</a></p>
                    <p><a href="/lesson_pol">Полиграфия</a></p>
                </div>

            </div>
            <div class="collapsible collapsible-last">
                <input type="checkbox" id="collapsible-head3">
                <label for="collapsible-head3">* UI/UX дизайн</label>
                <div class="collapsible-text">
                    <p><a href="/lesson_ui_ux">Введение в UI/UX</a></p>
                    <p><a href="/lesson_prototype">Прототипирование</a></p>
                    <p><a href="/lesson_int">Виды интерфейсов</a></p>
                </div>

            </div>

        </div>
    </div>
    </section>
            <div class="main__right">
            <div class="image3d">
                        <img src="/img/flying cubes.png" alt="">
                    </div>
                </div>
     

    
    <section class="learn" data-aos="fade-down" data-aos-duration="1000">
        <div class="container">
            <div class="learn__content" data-aos="fade-down">
                <div class="learn__title">
                    <h2>Выбери раздел дизайна, который хотел бы изучить, а затем и тему раздела. Далее ты попадёшь на страницу с теоретическим уроком, который расскажет тебе все самое основное по выбранной теме. После теории нужно пройти практические задания.</h2>
                </div>
                <img src="/img/Frame 1.png" height="350px" width="1200px">
                
            </div>
        </div>

        <div class="dpo">Данное обучение основано на полученном опыте и пройденных курсов (ДПО от Московского Политеха “Графический дизайн”, <br> лекции действующего дизайнера Кристины Дмитриевой, курс YDM от Кристины Дмитриевой).
            <br>
            <br>
            Список дополнтельной литературы, с помощью которой состалены теоретические уроки “Графикус”:</div>
    
            <div class="liter">
                <a href="https://676.su/F9lh">* Дэвид Эйри. Логотип и фирменный стиль. Руководство дизайнера (2-е издание)</a> <br>
                <br>
                <a href="https://676.su/rL2R">* О шрифте, Эрик Шпикерман </a> <br>
                <br>
                <a href="https://676.su/bWV0">* Образцы шрифтов, Ян Чихольд </a><br>
                <br>
            </div>
    </section>

    

</main>

<!-- Footer -->
<%- include('./layouts/footer.ejs') %>



<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script type="text/javascript" defer src="/js/view_script.js"></script>