<%- include('./layouts/header.ejs') %>

  <body>
    <div class="screen">
      <div class="div">
        <div class="text-wrapper">Стили интерфейсов</div>
        <div class="flexcontainer">
          <p class="text">
            <span class="span">Стиль в дизайне подразумевает набор цветовых решений, композиций, отличительных графических элементов,
              характеры шрифтов. При разработке дизайна продукта важен правильно подобранный визуальный стиль,
              ассоциирующийся с его задачей и миссией.<br/></span>
          </p>
          <p class="text">
            <span class="span"><br /></span>
          </p>
          <p class="text">
            <span class="span">На данный момент существует 5 основных стилей в дизайне интерфейсов. </span>
          </p>
        </div>
        <div class="view"><div class="text-wrapper-2"><a href="/int_game">НАЧАТЬ ПРАКТИКУ</a></div></div>
        <div class="overlap-group">
          <div class="flexcontainer-2">
            <p class="p">
              <span class="text-wrapper-3">Скевоморфизм</span>
              <span class="text-wrapper-4">
                — это стиль в дизайне, суть которого заключается в придании объектам реалистичности. Например, работа с
                их формами и видами: добавление света, бликов, текстуры или тени, одним словом — внедрение эффектов из
                реальной жизни в дизайн интерфейса.<br
              /></span>
            </p>
            <p class="p">
              <span class="text-wrapper-4"><br /></span>
            </p>
            <p class="p">
              <span class="text-wrapper-4">Этот стиль использовала компания Apple, он был <br /></span>
            </p>
            <p class="p">
              <span class="text-wrapper-4"
                >в значительной степени популяризирован программными интерфейсами Apple. Сейчас такой дизайн встречается
                достаточно редко, однако в начале 2000-х он был понятен <br
              /></span>
            </p>
            <p class="p"><span class="text-wrapper-4">для новых пользователей. </span></p>
          </div>
          <img class="image" src="/img/skeuomorphic.gif" />
        </div>
        <div class="overlap">
          <div class="flexcontainer-3">
            <p class="text-2">
              <span class="text-wrapper-5">Брутализм.</span>
              <span class="text-wrapper-4">
                Этот стиль стал популярным примерно с 2014 года. «Брутализм» — от французского «beton brut», переводится
                как «необработанный бетон». <br
              /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"><br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"
                >Он отличается функциональностью и простотой, отсутствием украшений. Используется монохромность, фон
                белый,  серый или черный. Присутствие асимметрии, отсутствие анимации и грамотной цветовой палитры,
                частое использование красного и зеленого. </span
              >
            </p>
          </div>
          <img class="img" src="img/brut.gif" />
        </div>
        <div class="overlap-2">
          <div class="flexcontainer-4">
            <p class="text-2">
              <span class="text-wrapper-5">Гранж</span>
              <span class="text-wrapper-4">
                — это стиль, в котором нет четких границ и правил. Его особенно ценят творческие и немного бунтарские
                личности. <br
              /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"
                >В веб-дизайне гранж стал популярным после эры web 2.0, противопоставляясь гармоничным градиентам и
                четким формам.<br
              /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"><br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4">Характерные особенности гранжа:<br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4">эффект потертой или рваной бумаги;<br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4">присутствие небрежных фраз, пятен, рукописных элементов;<br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4">искаженные графические элементы;<br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4">хмурые и темные цветовые решения.<br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"><br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"
                >В последнее время данный стиль всё реже пользуется спросом, дизайнеры всё чаще прибегают к минимализму.
                Но многие экспериментируют, применяя отдельные эффекты и элементы из стиля гранж и сочетают их с яркими,
                контрастными изображениями.</span
              >
            </p>
          </div>
          <img class="image-2" src="img/image 70.png" />
          <img class="image-3" src="img/image 71.png" />
          <img class="image-4" src="img/image 72.png" />
        </div>
        <div class="overlap-3">
          <div class="flexcontainer-5">
            <p class="text-2">
              <span class="text-wrapper-5">Плоский дизайн (flat дизайн).</span>
              <span class="text-wrapper-4"> Он появился в 2013 году <br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4">и стал противоположностью скевоморфизма. Microsoft <br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4">и Apple стали пионерами перехода к плоскому дизайну. <br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"><br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"
                >Здесь все элементы отображаются на одной плоскости, отсутствуют текстуры и тени. Цвет - единственный
                инструмент, который дает возможность выделить нужные объекты при помощи контрастов. Шрифты без засечек,
                <br
              /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"
                >а также стандартные размеры заголовков и основного текста, без нововведений. <br
              /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"><br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"
                >Плоский дизайн — это стиль, который минимализирует элементы пользовательского интерфейса с целью
                упростить его и сделать более легким в использовании.</span
              >
            </p>
          </div>
          <img class="image-5" src="img/flat.gif" />
        </div>
        <div class="overlap-4">
          <div class="flexcontainer-6">
            <p class="text-2">
              <span class="text-wrapper-5">Материальный дизайн (Material design). <br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"
                >В 2014 году Google представила свой собственный стиль дизайна, который был призван объединить
                приложения <br
              /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4">и платформу Google и Android. <br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"><br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"
                >Материальный дизайн сочетает в себе элементы реалистичного дизайна (тени, объемные формы) с плоским
                стилем (яркие цвета, простые формы) для создания удобного и понятного пользовательского интерфейса. <br
              /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4"><br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4">Этот стиль также включает в себя анимацию <br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-4">и минималистичность, делая его привлекательным <br /></span>
            </p>
            <p class="text-2"><span class="text-wrapper-4">для пользователей.</span></p>
          </div>
          <img class="image-6" src="img/material.gif" />
        </div>
      </div>
    </div>
  </body>



