<%- include('./layouts/header.ejs') %>

  <body>
    <div class="screen">
      <div class="div">
        <div class="text-wrapper">Фирменный стиль</div>
        <p class="p">
          В прошлом уроке вы узнали, что такое логотип и зачем он нужен. Однако лого - это лишь часть визуализации
          бизнеса, более полное представление имеет фирменный стиль.
        </p>
        <div class="flexcontainer">
          <p class="text">
            <span class="span">Фирменный стиль </span>
            <span class="text-wrapper-2"
              >(или корпоративный стиль) в дизайне — это система графических элементов, которые используются для
              создания единого <br
            /></span>
          </p>
          <p class="text">
            <span class="text-wrapper-2">и узнаваемого визуального образа компании или бренда. Он включает <br /></span>
          </p>
          <p class="text">
            <span class="text-wrapper-2"
              >в себя различные компоненты, такие как логотип, цветовая палитра, типографика, стили изображений и другие
              графические элементы, которые создают единый стиль и атмосферу бренда.<br
            /></span>
          </p>
          <p class="text">
            <span class="text-wrapper-2"><br /></span>
          </p>
          <p class="text">
            <span class="text-wrapper-2">Основная </span>
            <span class="span">цель фирменного стиля</span>
            <span class="text-wrapper-2">
              — установить и поддерживать консистентность и единство визуального образа компании <br
            /></span>
          </p>
          <p class="text">
            <span class="text-wrapper-2"
              >в различных контекстах и на различных носителях, будь то веб-сайт, упаковка продукции, рекламные
              материалы, корпоративные документы или другие элементы брендинга.<br
            /></span>
          </p>
          <p class="text">
            <span class="text-wrapper-2"><br /></span>
          </p>
          <p class="text">
            <span class="text-wrapper-2"
              >Фирменный стиль помогает бренду выделяться среди конкурентов, создавая узнаваемость и доверие у целевой
              аудитории. <br
            /></span>
          </p>
          <p class="text">
            <span class="text-wrapper-2">Он также способствует формированию единого имиджа компании <br /></span>
          </p>
          <p class="text">
            <span class="text-wrapper-2">и передаче ключевых ценностей, идентичности и стиля бренда <br /></span>
          </p>
          <p class="text"><span class="text-wrapper-2">через визуальные средства.</span></p>
        </div>
        <div class="flexcontainer-2">
          <p class="span-wrapper">
            <span class="text-wrapper-3"
              >Выделяют большой и малый фирменный стиль. Малый включает в себя необходимый минимум <br
            /></span>
          </p>
          <p class="span-wrapper">
            <span class="text-wrapper-3"
              >для идентификации бренда — корпоративный шрифт, цвет, логотип и правила верстки. Этого вполне достаточно
              для небольших компаний и стартапов, у которых ограничен бюджет и не слишком много каналов коммуникации
              с потребителем.</span
            >
          </p>
        </div>
        <div class="overlap">
          <div class="flexcontainer-3">
            <p class="text-2">
              <span class="text-wrapper-3">Фирменных цветов; <br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-3"><br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-3"
                >цвет — это визуальная характеристика предметов, на которую мы обращаем внимание в первую очередь.
                Возможно, вы не вспомните, что изображено на символе Starbucks, но точно вспомните, что он зеленый. <br
              /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-3"
                >Упаковку Bounty вы тоже вряд ли сможете описать в деталях, но все знают, что она голубая. Цвета бренда
                — очень важный компонент айдентики, <br
              /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-3"
                >они способствуют узнаваемости. Иногда фирменный цвет всего один, <br
              /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-3">а при необходимости их может быть три-пять. <br /></span>
            </p>
            <p class="text-2"><span class="text-wrapper-3"> </span></p>
          </div>
          <div class="overlap-group">
            <div class="flexcontainer-4">
              <p class="text-2">
                <span class="text-wrapper-3">Фирменных шрифтов; <br /></span>
              </p>
              <p class="text-2">
                <span class="text-wrapper-3"><br /></span>
              </p>
              <p class="text-2">
                <span class="text-wrapper-3"
                  >любому бренду нужно размещать тексты на рекламных листовках, на сайте или в постах в соцсетях —
                  поэтому, как минимум, один фирменный шрифт нужен любой компании. Их может быть и больше — например,
                  два или три. Шрифты могут пригодиться <br
                /></span>
              </p>
              <p class="text-2">
                <span class="text-wrapper-3"
                  >для отделения заголовков от основного текста или для разных каналов коммуникации. <br
                /></span>
              </p>
              <p class="text-2">
                <span class="text-wrapper-3"> <br /></span>
              </p>
              <p class="text-2">
                <span class="text-wrapper-3"
                  >Иногда гарнитуры разрабатывают специально для конкретной компании: свои шрифты есть у IBM или
                  у National Geographic. Но большинство брендов выбирают из общедоступных шрифтов. Например, в Ikea
                  использует гарнитуру Noto в своей рекламе. </span
                >
              </p>
            </div>
            <img class="fs" src="img/fs.gif" />
          </div>
          <div class="text-wrapper-4">Логотипа;</div>
        </div>
        <div class="flexcontainer-5">
          <p class="text-2">
            <span class="text-wrapper-3"
              >1 . Создание уникального образа компании: этот образ помогает выделиться на рынке и отличиться от
              конкурентов. Он включает в себя цвета, шрифты и графические элементы, которые делают бренд узнаваемым и
              запоминающимся.<br
            /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"><br /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"
              >2 . Идентификация товаров или услуг: фирменный стиль помогает потребителям легко определить и выбрать
              продукцию или услуги компании среди множества аналогичных предложений на рынке. Например, логотип и
              цветовая гамма позволяют быстро распознать бренд на полке магазина или в рекламном объявлении.<br
            /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"><br /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"
              >3. Помогает запомниться: согласованный образ, представленный через логотип, цветовую гамму, шрифты и
              графику, способствует узнаваемости бренда. Повторяющиеся элементы становятся символом и ассоциируются с
              компанией в сознании потребителей.<br
            /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"><br /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"
              >4. Косвенно является гарантом качества продукции: хорошая репутация и доверие к бренду могут быть усилены
              фирменным стилем. Пользователи начинают ассоциировать узнаваемый и профессиональный образ с высоким
              уровнем качества продукции или услуг.<br
            /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"><br /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"
              >5. Оказывает эмоциональное воздействие на аудиторию: эмоции играют важную роль в принятии решений
              потребителями. Привлекательные изображения и дизайн элементов фирменного стиля могут вызвать положительные
              эмоции у целевой аудитории и способствовать ее лояльности к бренду.<br
            /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"><br /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"
              >6 . Транслирует ценности компании: фирменный стиль позволяет выразить основные ценности и идентичность
              компании через выбранные цвета, шрифты и изображения. Эти элементы помогают сформировать уникальный образ
              бренда и привлечь внимание целевой аудитории.<br
            /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"><br /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"
              >7. При разработке фирменного стиля уделяется внимание тому, чтобы он был легко поддерживаемым. Единая
              цветовая палитра, стандартные шрифты, модульные сетки и графические элементы позволяют быстро создавать
              новые дизайны для различных материалов и рекламных кампаний. Вместо того чтобы создавать каждый раз что-то
              с нуля, можно использовать готовые элементы, сохраняя при этом узнаваемость и целостность бренда.</span
            >
          </p>
        </div>
        <p class="text-wrapper-5">
          При разработке корпоративной идентификации создается руководство по использованию, которое часто называют
          гайдлайном. Этот документ, доступный в электронном или печатном виде, содержит подробное описание всех
          элементов фирменного стиля. Гайдлайн необходим для того, чтобы в дальнейшем любой дизайнер мог создавать новые
          материалы, сохраняя единство и визуальную целостность бренда.
        </p>
        <div class="flexcontainer-6">
          <p class="text-2">
            <span class="text-wrapper-3"
              >Руководство по применению фирстиля включает в себя следующие рекомендации:<br
            /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"><br /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"
              >Как строится фирменный блок: в гайдлайне показывают пропорции изображений и сетку.<br
            /></span>
          </p>
          <p class="text-2">
            <span class="text-wrapper-3"
              >Какие изменения фирменного блока допустимы и недопустимы. Надпись и знак могут располагаются
              горизонтально или вертикально по отношению друг к другу. Иногда их цвета могут меняться вместе с цветом
              фона. Все подходящие варианты тщательно продуманы дизайнерами и указаны в брошюре. </span
            >
          </p>
        </div>
        <div class="flexcontainer-7">
          <p class="text-2">
            <span class="text-wrapper-3"
              >Паттерн - повторяющийся мотив, элемент или комбинация элементов, которые образуют определенный
              декоративный <br
            /></span>
          </p>
          <p class="text-2"><span class="text-wrapper-3">или графический узор;</span></p>
        </div>
        <p class="text-wrapper-6">Полиграфия (визитки, упаковки, бирки, баннеры и так далее);</p>
        <div class="text-wrapper-7">Сайт или приложение .</div>
        <div class="view"><div class="text-wrapper-8"><a href="/fs_practice">НАЧАТЬ ПРАКТИКУ</a></div></div>
        <p class="text-wrapper-9">Чаще всего фирменный стиль состоит из:</p>
        <div class="text-wrapper-10">Функции фирменного стиля</div>
        <img class="image" src="img/fs 2.gif" />
        <img class="gaidlain" src="img/gaidlain.jpeg" />
      </div>
    </div>
  </body>

