<%- include('./layouts/header.ejs') %>

<body>
    <div class=main>
        <div class=intro>
            <span  class="logo">Логотип</span>
            
            <span  class="first_part">В наши дни каждый бизнес, организация и даже мероприятие имеет свой уникальный знак - логотип. Логотип - это графическое изображение или символ, который идентифицирует бренд, компанию, продукт или услугу, является частью фирменного стиля.  Лого важно для создания узнаваемости и запоминаемости бренда, а также в установлении связи с целевой аудиторией. </span>
            
            <span  class="second_part">Важно заметить, что лого — это не просто набор букв. Оно включает в себя уникальные шрифты, цвета и дизайн, которые отражают личность бренда. Например, Coca-Cola известна своим красным лого с уникальным курсивным шрифтом.</span>

            <span  class="third">Наличие качественного логотипа придает бренду профессиональный вид и позитивное впечатление у клиентов и потенциальных партнеров.
            </span>

            <span  class="title">Виды логотипов</span>
        </div>

        <div class=kinds_of_logo>
            <div  class="card_1">
                
            </div>
            <div  class="card_2">
                
            </div>
            <div  class="card_3">
                
            </div>
            <div  class="card_4">
                
            </div>
            <div  class="card_5">
                
            </div>
            <div  class="card_choice">
                
            </div>

            <span  class="inf_1">Текстовый (логотип-название): состоит из названия компании или бренда, написанного в определенном стиле или шрифте. Примером может служить логотип Coca-Cola.</span>
            
            <span  class="inf_2">Изображение (графический логотип): состоит 
из графического изображения или символа, который ассоциируется с брендом. Пример - логотип яблока у Apple.</span>

<span  class="inf_3">Комбинированный: сочетает в себе как текстовую, 
так и графическую части. Пример - логотип Adidas с тремя полосками и названием бренда.</span>

<span  class="inf_4">Эмблема: графический элемент интегрирован 
в текстовую часть логотипа. Примером может служить логотип Harley-Davidson.</span>

<span  class="inf_5">Абстрактный: не имеет прямой связи с названием бренда или его продукцией, но создает уникальный образ. Пример - логотип Nike "Swoosh".</span>

<span  class="inf_choice">Выбор конкретного вида логотипа зависит от многих факторов, включая цели бренда, его целевую аудиторию, отрасль 
и конкурентную среду.</span>

<img src="/img/img_text.png"  class="text_logo">


<div class="comb_logos">
<img src="/img/image_49.png"  class="adidas">
<img src="/img/image_50.png"  class="pring">
<img src="/img/image_51.png"  class="kfc">
</div>

<img src="/img/img_emb.png"  class="emb_img">

<div class=abs_logo>
<img src="/img/image_53.png"  class="logo_master">
<img src="/img/image_55.png"  class="logo_pepsi">
<img src="/img/image_54.png" class="nike">


</div>
<div class=graph_logo>
<img src="/img/image_56.png"  class="hen">
<div class="logos">
<img src="/img/image_48.png"  class="apple_tayota">
</div>
</div>

<img src="/img/rings_clay_2.png"  class="img_3d">

</div>
<div class=but>
<div class=e517_303>
<span  class="button_text">НАЧАТЬ ПРАКТИКУ</span>
</div>
<div  class="conc_r">

</div>
<span  class="how">Как разрабатывается логотип?</span>
<span  class="first">Первоначально дизайнер изучает бренд, проводит анализ конкурентов, анализ целевой аудитории бизнеса, проводит интервью 
с клиентом для определения целей, задач и миссии бренда, собирает мудборд. Мудборд - доска настроения, идей, которые будут вдохновлять и направлять дизайнера. </span>

<span  class="next">Далее выписываются ассоциации и приходит разработка концепций логотип. На этом этапе дизайнер разрабатывает несколько концепций логотипа, которые отражают ключевые идеи и ценности бренда. Он экспериментирует с различными формами, шрифтами, цветами и композициями. </span>

<span  class="then">После создания нескольких концепций дизайнер представляет их клиенту для обсуждения и выбора. Клиент дает обратную связь, указывает на понравившиеся и не понравившиеся элементы, и вместе с дизайнером выбирает лучший вариант.</span>

<span  class="last">После выполнения разработки дизайнер передает клиенту логотип 
в виде различных форматов: того для печати, для экранного использования, черно-белый, цветной, полный логотип, сокращенная версия и так далее. </span>

<span  class="conclusion">Помимо логотипа у многих брендов есть нарисованный символ — фирменный знак. Если изображение прошло государственную регистрацию, его еще называют товарным знаком. 

Символ бренда должен хорошо смотреться в любом масштабе, сочетаться с логотипом и нести понятную идею. Необязательно знак будет в точности отражать сферу деятельности компании, 
но он всегда имеет концепцию. Графически изображение может быть как детализированным, так и очень простым.</span>

<img src="/img/image_57.png"  class="img_process">

</div>
</div>
</div>

</body>

<%- include('./layouts/footer.ejs') %>