<%- include('./layouts/header.ejs') %>

<body>
    <div class=e535_276>
      <span  class="e535_281">Введение в UI/UX</span>
      <span  class="e535_282">UX</span>
      <span  class="e535_324">UI</span>
      <span  class="e535_322">Какие главные задачи UX-дизайнера?</span>
      <span  class="e535_283">Чем занимается UI-дизайнер?</span>
      <span  class="e535_327">Подведем итог:</span>

      <span  class="e535_284">Очень часто понятия UI и UX наиболее запутанные и непонятные термины для людей, не изучающих дизайн. Обычно их совмещают <br/>в один термин - UI/UX-дизайн, однако на первый взгляд кажется, что они описывают одни и те же процессы. После изучения данного урока вы узнаете в чем же отличие и главные цели данных сфер дизайна. </span>

      <span  class="e535_286">С английского UX - пользовательский опыт, простыми словами это означает взаимодействие пользователя с сайтом <br/>или приложением. 
<br/>
<br/>
Он определяет структуру сайта, логику движения пользователя, эффективность его работы. Данная сфера дизайна проектирует работу интерфейса: если работа хорошая, <br/>то пользовательский опыт будет положительным, если структура и навигация сложная, интуитивно непонятная пользователю, 
то опыт будет негативным. 
<br/>
<br/>
Главная цель UX - добиться положительного пользовательского опыта. </span>

<span  class="e535_323">1. Исследование пользователей: это первый и один из самых важных этапов в UX дизайне. Исследование пользователей позволяет понять потребности, желания и проблемы целевой аудитории, что помогает создать продукт, который их удовлетворит.
<br/>
<br/>
2. Создание пользовательских путей (User Flows) - схематическое представление путей, которые пользователи будут проходить <br/>при взаимодействии с продуктом. 
<br/>
<br/>
3. Прототипирование. Оно позволяет создать интерактивные модели продукта, которые можно быстро протестировать с реальными пользователями. Это помогает выявить проблемы в дизайне и функциональности и внести необходимые изменения еще на ранних этапах разработки.
<br/>
<br/>
4. UX дизайн также включает в себя внимание к деталям и визуальное исполнение продукта. Это включает в себя выбор цветовой палитры, шрифтов, композиции элементов и других дизайнерских аспектов, которые влияют на восприятие и удобство <br/>использования продукта.</span>

<span  class="e535_287">UI-дизайн включает в себя создание иконок, кнопок, переключателей и других элементов управления, которые пользователи будут использовать для взаимодействия с продуктом. Эти элементы должны быть ясными, узнаваемыми и легкими в использовании.</span>

<span  class="e535_326">Расположение элементов на экране должно быть логичным <br/>и удобным для пользователей. Это включает в себя правильное размещение кнопок, меню, форм и других элементов, <br/>чтобы пользователи могли быстро найти нужную информацию и выполнить необходимые действия.</span>

<span  class="e535_325">UI-дизайн - дизайн пользовательского интерфейса, <br/>который представляет собой графическое представление <br/>(в отличие от UX) и состоит из картинок, кнопок, полей для ввода <br/>и вывода информации. Также данная сфера дизайна включает <br/>в себя разработку переходов между экранами, анимаций. 
<br/>
<br/>
UI-дизайнер - это прежде всего графический дизайнер, их работа связана с эстетикой и должна отвечать за соответствие внешнего вида интерфейса с целевой аудиторией проекта, его задачей <br/>и целями. </span>

<span  class="e535_288">Анимация может добавить интерактивности <br/>и привлекательности к пользовательскому интерфейсу. Хорошо выполненные анимации могут помочь пользователям лучше понять, что происходит на экране, и сделать взаимодействие более приятным.</span>

<span  class="e535_289">UI-дизайн должен быть адаптивным к различным устройствам и разрешениям экранов. Это означает, что интерфейс должен хорошо выглядеть и работать как на больших десктопных мониторах, так и на мобильных устройствах.</span>

<span  class="e535_290">UI дизайн (User Interface):
<br/>
<br/>
Основной упор делается на создание визуального аспекта интерфейса, такого как кнопки, иконки, меню и другие элементы управления.
Задача UI дизайнера - сделать интерфейс красивым, интуитивно понятным и приятным для взаимодействия.
UI дизайн включает в себя выбор цветовой схемы, типографики, компоновку элементов на экране и использование анимации для улучшения визуального восприятия.</span>

<span  class="e535_328">UX дизайн (User Experience):
<br/>
<br/>
UX дизайн сконцентрирован на создании удобного <br/>и приятного для пользователя опыта взаимодействия <br/>с продуктом.
Задача UX дизайнера - понять потребности и ожидания пользователей, исследовать <br/>их поведение и создать продукт, который эффективно решает их проблемы.
UX дизайн включает в себя исследование пользовательских потребностей, создание пользовательских путешествий (user journeys), проектирование информационной архитектуры <br/>и проведение тестирования с реальными пользователями.</span>

<div  class="e536_329"></div>
<span  class="e535_293">Таким образом, UI дизайн отвечает за внешний вид и оформление интерфейса, в то время как UX дизайн отвечает за общее впечатление и удобство использования продукта пользователем.</span>
<div class=e535_294><span  class="e535_295">НАЧАТЬ ПРАКТИКУ</span></div>
<img src="/img/1840x1142.gif"  class="e613_113">
<img src="/img/ui.gif"  class="e613_114">
<img src="/img/ui 2.gif" class="e613_115">
</div>
  </body>

  <%- include('./layouts/footer.ejs') %>