<%- include('./layouts/header.ejs') %>

<body>
    <div class=e531_220>
      <span  class="e531_225">Полиграфия</span>
      <span  class="e531_266">В чем отличие разработки электронного макета и макета, 
        <br/>
который далее будет печататься?</span>
<span  class="e531_269">Основные правила при работе с полиграфией</span>
<span  class="e531_226">Полиграфия — это любой напечатанный макет: брошюра, плакат, баннер, упаковка, книга, журнал и так далее.  <br/>Полиграфия — это своего рода искусство, которое позволяет воплотить идеи на бумаге или других печатных носителях.
<br/>
<br/>
Несмотря на то, что электронные средства коммуникации становятся все более популярными, полиграфия сохраняет свою актуальность <br>и важность. </span>

<span  class="e531_227">1. Печатные материалы могут предложить физический опыт, <br/>который невозможно воспроизвести в электронной форме. Например, качество бумаги, текстурные элементы, лакирование <br/>и т. д. могут создать осязаемые ощущения и усилить восприятие продукта или бренда.
<br/>
<br/>
2. Печатные материалы могут сохраняться длительное время. Книги, журналы, брошюры и другие материалы могут быть долговечными <br/>и оставаться доступными для чтения даже без доступа к интернету или электронным устройствам.
<br/>
<br/>
3. Для многих людей печатные материалы все еще ассоциируются <br/>с авторитетом и надежностью. Брошюры, книги и другие печатные издания могут вызывать большее доверие у читателей по сравнению с электронными источниками информации.
<br/>
<br/>
4. Для некоторых целевых аудиторий, особенно в более старшем возрасте или в отдаленных регионах, печатные материалы могут быть более удобным и предпочтительным способом получения информации.
<br/>
<br/>
5. Полиграфия часто используется в сочетании с электронными средствами коммуникации, дополняя их и усиливая эффект в целом. Например, брошюры могут быть распечатаны и распространены <br/>на мероприятиях, конференциях или выставках, чтобы привлечь внимание к компании или продукту.</span>

<span  class="e531_267">1. Цветовая модель. В электронном макете часто используется цветовая модель RGB (Red, Green, Blue), которая оптимизирована <br/>для дисплеев и экранов. В то время как для печати используется цветовая модель CMYK (Cyan, Magenta, Yellow, Key/Black), <br/>которая лучше соответствует процессу печати на принтерах.
<br/>
<br/>
2. Разрешение. Электронные макеты часто имеют низкое разрешение, так как для экранов обычно достаточно 72 или 96 пикселей <br/>на дюйм (ppi). В то время как для печати требуется более высокое разрешение, обычно 300 ppi или выше, чтобы обеспечить четкое <br/>и качественное изображение.
<br/>
<br/>
3. Формат файла. Электронные макеты часто сохраняются в форматах, оптимизированных для веба или цифровых устройств, <br/>таких как JPEG, PNG, PDF и т. д. Для печати обычно требуются специализированные форматы, такие как PDF с поддержкой печати высокого качества или файлы с расширением AI, EPS, PSD, которые поддерживают многослойность и векторные элементы.
<br/>
<br/>
4. Типографика. В печатном макете уделяется большее внимание выбору шрифтов, их размеру и интервалам между символами (кернинг), так как это важно для качественной типографики. В электронных макетах также важна типографика, но учет особенностей шрифтов может быть менее строгим из-за возможных различий в отображении на разных устройствах.
<br/>
<br/>
5. Обработка цветов. Для печати может потребоваться коррекция цветов, чтобы они правильно отображались на конечном носителе (например, бумаге), что может потребовать дополнительных настроек и проверок.
<br/>
<br/>
6. Распределение элементов. Для печати важно учитывать области обрезки, поля, разметку страницы и другие особенности, <br/>которые могут быть не так критичны в электронном формате.</span>

<span  class="e531_268">Убедитесь, что ваш макет имеет правильные размеры, соответствующие требованиям конечного носителя <br/>(например, размеру листа бумаги). Разрешение изображений должно быть не менее 300 ppi для обеспечения высокого качества печати. Эта настройка выстраивается при создании документа <br/>в иллюстраторе. Кстати, готовить макет к печати можно только в специализированных программах, основные из них: adobe illustrator, corelDRAW и inDesign. </span>

<span  class="e532_270">Цветовая модель - CMYK. Этот параметр также выстраивается <br/>при создании документа. </span>

<span  class="e532_271">Соблюдены правила композиции (о которых мы говорили ранее), <br/>все элементы выровнены.  Зачастую дизайн можно сравнить <br/>с математикой - все должно быть идеально высчитано, измерено <br/>и выстроено. </span>

<span  class="e532_272">Добавьте обрезные метки, указывающие места, где будет обрезана бумага после печати, а также подрезные метки, показывающие области, которые могут быть обрезаны с некоторым запасом.</span>

<span  class="e532_273">Все шрифты должны быть переведены в кривые, <br/>так как в типографии у дизайнера может не оказаться необходимого шрифта и он просто изменится на базовый. </span>

<span  class="e532_274">Перед отправкой макета на печать обязательно проверьте <br/>его на наличие ошибок, опечаток, а также убедитесь, что все элементы находятся на своих местах и выглядят так, как вы хотите <br/>их видеть на печати.</span>

<span  class="e532_275">Каждая типография имеет свои правила предпечатной подготовки, которые могут немного различаться. Все основные мы изучили в этом уроке, однако каждый дизайнер может запросить правила и готовить дизайн именно по ним, тогда можно быть уверенным, что результат работы будет именно таким, каким его задумывали при разработке. </span>
<div class=e531_230>
<span  class="e531_231"><a href="/polygraph_practice">НАЧАТЬ ПРАКТИКУ</a></span></div>
<img src="/img/pol.gif"  class="e611_105">
<img src="/img/image 75.png"  class="e611_109">
<img src="/img/fonts.gif"  class="e611_110">
<img src="/img/image 76.png"  class="e611_112">
</div>
  </body>

  <%- include('./layouts/footer.ejs') %>