<%- include('./layouts/header.ejs') %>

<body>
    <div class=main>
      <span  class="e510_183">Шрифты</span>
      <span  class="e510_185">Что именно важно?</span>
      <span  class="e510_191">Основные термины, связанные с шрифтами:</span>
      <span  class="e512_124">Виды шрифтов</span>
      <span  class="e510_184">Шрифты играют очень важную роль в графическом дизайне и имеют значительное влияние на эффективность и восприятие дизайна. 
Шрифт - графический рисунок начертаний букв и знаков, составляющих единую стилистическую и композиционную систему, набор символов определенного размера и рисунка. </span>

<span  class="e510_187">Правильно выбранные шрифты обеспечивают легкость чтения 
  <br/> и понимания контента. Чем лучше читаемость шрифта, 
  <br/> тем эффективнее будет передана информация, аудитория сможет быстрее усвоить содержание и запомнить ключевые моменты.
<br/>
<br/>
Читабельность контента является ключевым в дизайне. 
<br/> Даже если шрифт очень красивый, но он не читаем 
<br/> и не соответствует тематике - проект провален. </span>

<span  class="e510_190">Шрифты могут вызывать определенные эмоции и настроения 
у зрителей. Например, жирные и угловатые шрифты могут создавать ощущение силы и энергии, в то время <br/> как курсивные и закругленные шрифты могут ассоциироваться с нежностью и женственностью. 
<br/> Так, например, детский, округлый шрифт в сфере автосервиса, экономике будет не уместно.
<br/>
<br/>
Выбор шрифта влияет на общее впечатление от дизайна <br/> и может быть использован для подчеркивания определенных идей 
или концепций.
<br/>
<br/>
Подбор шрифтов должен соответствовать контексту и целям дизайна. Например, для официальных документов <br/> или деловых презентаций лучше выбирать классические <br/> и профессиональные шрифты, а для творческих проектов или искусства - более экспериментальные и нестандартные варианты.
<br/>
<br/>
При выборе шрифтов первоначально необходимо определить настроение, концепцию, эмоции и ассоциации, 
которые соответствуют тематике, с которой вы работаете.


</span>

<span  class="e510_186">Читабельность</span>
<span  class="e510_189">Соответствие и эмоции</span>
<span  class="e510_192">* Шрифтовая кегль (Font Size) - размер шрифта, измеряемый 
  <br/> в пунктах (points) или пикселях (pixels).
<br/>
<br/>
В типографике и дизайне, наиболее распространенными размерами шрифтов для основного текста обычно являются 
<br/> от 9 до 14 пунктов. Для заголовков и акцентов размеры могут быть больше, например, от 14 до 18 пунктов или даже больше, 
<br/>в зависимости от макета.
<br/>
<br/>
Также для определения гармоничных размеров шрифтов в одном макете используется правило «Золотого сечения» - это математи-ческий принцип, который применяется в искусстве, архитектуре, дизайне и других областях. Золотое сечение — это такое отношение частей к целому, когда большая часть относится к меньшей 
<br/>так же, как целая к большей. Это отношение составляет 1,618.
<br/>
<br/>
Этот принцип создает гармоничные и привлекательные пропорции, которые часто считаются эстетически приятными.</span>

<span  class="e512_117">* Начертание (Type Style) - вариант шрифта, определяющий его стиль (обычный, полужирный, курсив и т. д.).
<br/>
<br/>
Обычный   Полужирный    Жирный</span>

<span  class="e512_119">*Межбуквенный интервал (Letter Spacing) - расстояние между отдельными буквами в слове.
<br/>
<br/>
Увеличение межбуквенного интервала делает текст более разреженным, а уменьшение - более плотным. Контроль 
<br/>за межбуквенным интервалом важен для обеспечения читабельности, эстетики и визуального баланса текста.
<br/>Например, для создания заголовков или логотипов часто используются увеличенные значения межбуквенного интервала, чтобы добавить пространства между буквами и сделать текст более выразительным.</span>

<span  class="e512_121">*Кернинг (Kerning) - регулирование промежутков между отдельными парами букв для улучшения визуального равновесия текста.
<br/>
<br/>
В отличие от межбуквенного интервала, который устанавливает одинаковое расстояние для всех букв, кернинг позволяет настроить расстояние между конкретными парами букв. Это особенно важно, когда некоторые буквы имеют необычные формы или выступающие элементы, которые могут создавать визуальные дисбалансы.</span>

<span  class="e512_122">* Трекинг (Tracking) - регулирование общего межбуквенного интервала в тексте.
<br/>
<br/>
Он представляет собой изменение интервала между символами 
<br/>на всей строке или блоке текста, что влияет на общую ширину текстового блока без изменения размера самого текста.
<br/>
<br/>
Трекинг используется для управления плотностью или расстоянием между символами, что может быть полезно для улучшения читаемости, улучшения внешнего вида текста и обеспечения гармоничного визуального восприятия. </span>

<span  class="e512_125">По внешнему виду и правилам построения букв принято выделять пять видов шрифтов: антиквы, гротески, брусковые, рукописные и акцидентные.</span>

<div  class="e510_193"></div>

<span  class="e510_194">Задача: определить размер заголовка, если  основной текст 14 пунктов?
<br/>
<br/>
Решение: 14*1,618=22,652 - используется 22 размер.</span>
<div  class="e512_116"></div>
<div  class="e512_118"></div>
<div  class="e512_120"></div>
<div  class="e512_123"></div>
<div  class="e514_227"></div>
<div  class="e512_126"></div>
<div  class="e512_129"></div>
<div  class="e512_130"></div>
<div  class="e512_127"></div>
<div  class="e512_128"></div>
<span  class="e512_131">Антиква</span>
<span  class="e512_137">Рукописные</span>
<span  class="e512_133">Брусковые</span>
<span  class="e512_138">Акцидентные</span>
<span  class="e512_136">Гротески (рубленые)</span>
<span  class="e512_132">Антиква — шрифты с засечками, которые больше всего подходят 
  <br/>для оформления печатных изданий, 
  <br/>в особенности книг, журналов, документов. Благодаря засечкам выстраивается строка, контрастность помогает различать буквы.</span>

<span  class="e512_139">Название этой группы шрифтов говорит само за себя. Обычно <br/>их используют 
в оформлении обложек альбомов 
и мемуаров, пригласитель- <br/>ных, дипломов. Рукописные шрифты тяжело читать, поэтому ими выделяют лишь несколько элементов, <br/>на которых хотят сделать акцент.</span>
<span  class="e512_134">Эти шрифты напоминают антикву, 
  <br/>но они не имеют яркого контраста между штрихами. Вместо аккуратных засечек грубые и тяжёлые. 
  <br/>Их используют как для книжного набора, так и для рекламных решений.</span>

<span  class="e512_140">К этой группе относятся шрифты, основная задача которых — привлечь внимание. Они яркие, причудливые, броские. Встречаются в рекламных заголовках и на обложках журналов.</span>

<span  class="e512_135">Гротески — неконтрастные шрифты 
без засечек. Изначально их создали 
в противовес антикве и использо- <br/>вали как декоративные, <br/>чтобы привлечь внимание <br/>в рекламных объявлениях. 
<br/>
<br/>
Со временем они стали самостоятельными и теперь используются повсеместно. 
<br/>
<br/>
Рублеными шрифтами набирают детские книги — это определено государственным стандартом <br/>и санитарными нормами. В них нет отвлекающих элементов, поэтому ребёнку легко читать буквы. 
<br/>
<br/>
Гротески часто используются 
<br/>в интерфейсах: приложениях, сайтах, лендингах, играх. Дизайнеры советуют использовать шрифты <br/>без засечек 
для читабельности цифровых проектов, потому что электронный формат чтения значительно отличается <br/>от печатного. Он требует упрощения, быстрого получения информации, удобства восприятия, низкой зрительной нагрузки.</span>
<div class=e512_141>
<span  class="e512_142"><a href="/kerning">НАЧАТЬ ПРАКТИКУ</a></span>
</div>
<div  class="e549_437"></div>
<div class=e552_461>
<div  class="e549_439"></div>
<img src="/img/image 15.png"  class="e551_445">
<img src="/img/image 17.png" class="e552_449">
<img src="/img/image 18.png"  class="e552_451">
<img src="/img/image 19.png"  class="e552_453">
<img src="/img/image 20.png"  class="e552_455">
<img src="/img/image 21.png"  class="e552_457">
<div  class="e552_460"></div>
<img src="/img/image 22.png"  class="e552_459">
</div>
<img src="/img/image 25.png"  class="e554_469">
<img src="/img/image 26.png"  class="e554_471">
<div class=e555_509>
<img src="/img/image 27.png"  class="e554_473">
<img src="/img/image 28.png"  class="font">
</div>
<div class=e555_511>
<img src="/img/image 30.png"  class="e554_479">
<div class=e554_481>
<div class=e554_477>

</div>
</div>
<div class=e554_486>
<img src="/img/image 29.png"  class="e554_488">
</div>
<img src="/img/image 31.png"  class="e554_493">
</div>
<img src="/img/image 32.png"  class="e554_495">
<img src="/img/gold.gif"  class="e555_498">
<img src="/img/image 34.png"  class="e555_500">
<img src="/img/image 37.png"  class="e555_506">
<img src="/img/image 58.png"  class="e591_275">
<img src="/img/kern.gif"  class="e591_277">
<img src="/img/trac.gif"  class="e591_279">
</div>
  </body>

<%- include('./layouts/footer.ejs') %>