<%- include('./layouts/header.ejs') %>

<body>
    <div class=e543_377>
      <span  class="e543_382">Стили интерфейсов</span>
      <span  class="e543_383">Стиль в дизайне подразумевает набор цветовых решений, композиций, отличительных графических элементов, характеры шрифтов. При разработке дизайна продукта важен правильно подобранный визуальный стиль, ассоциирующийся с его задачей и миссией.

<br/>На данный момент существует 5 основных стилей в дизайне интерфейсов. </span>
<div class=e543_395>
<span  class="e543_396"><a href="/int_game">НАЧАТЬ ПРАКТИКУ</a></span></div>
<div  class="e545_429"></div>
<div  class="e545_430"></div>
<div  class="e545_431"></div>
<div  class="e545_432"></div>
<div  class="e545_434"></div>
<span  class="e543_385">Скевоморфизм — это стиль в дизайне, суть которого заключается в придании объектам реалистичности. Например, работа с их формами и видами: добавление света, бликов, текстуры или тени, одним словом — внедрение эффектов из реальной жизни в дизайн интерфейса.
<br/>
<br/>
Этот стиль использовала компания Apple, он был 
<br/>в значительной степени популяризирован программными интерфейсами Apple. Сейчас такой дизайн встречается достаточно редко, однако в начале 2000-х он был понятен 
<br/>для новых пользователей. </span>
<span  class="e543_425">Плоский дизайн (flat дизайн). Он появился в 2013 году 
  <br/>и стал противоположностью скевоморфизма. Microsoft 
  <br/>и Apple стали пионерами перехода к плоскому дизайну. 
<br/>
<br/>
Здесь все элементы отображаются на одной плоскости, отсутствуют текстуры и тени. Цвет - единственный инструмент, который дает возможность выделить нужные объекты при помощи контрастов. Шрифты без засечек, 
<br/>а также стандартные размеры заголовков и основного текста, без нововведений. 
<br/>
<br/>
Плоский дизайн — это стиль, который минимализирует элементы пользовательского интерфейса с целью упростить его и сделать более легким в использовании.</span>
<span  class="e543_426">Брутализм. Этот стиль стал популярным примерно с 2014 года. «Брутализм» — от французского «beton brut», переводится как «необработанный бетон». 
<br/>
<br/>
Он отличается функциональностью и простотой, отсутствием украшений. Используется монохромность, фон белый,  серый или черный. Присутствие асимметрии, отсутствие анимации и грамотной цветовой палитры, частое использование красного и зеленого. </span>
<span  class="e543_427">Материальный дизайн (Material design). 
В 2014 году Google представила свой собственный стиль дизайна, который был призван объединить приложения 
и платформу Google и Android. 
<br/>
<br/>
Материальный дизайн сочетает в себе элементы реалистичного дизайна (тени, объемные формы) с плоским стилем (яркие цвета, простые формы) для создания удобного и понятного пользовательского интерфейса. 
<br/>
<br/>
Этот стиль также включает в себя анимацию 
<br/>и минималистичность, делая его привлекательным 
<br/>для пользователей.</span>
<span  class="e543_428">Гранж — это стиль, в котором нет четких границ и правил. Его особенно ценят творческие и немного бунтарские личности. 
  <br/>В веб-дизайне гранж стал популярным после эры web 2.0, противопоставляясь гармоничным градиентам и четким формам.
<br/>
<br/>
Характерные особенности гранжа:
эффект потертой или рваной бумаги;
присутствие небрежных фраз, пятен, рукописных элементов;
искаженные графические элементы;
хмурые и темные цветовые решения.
<br/>
<br/>
В последнее время данный стиль всё реже пользуется спросом, дизайнеры всё чаще прибегают к минимализму. Но многие экспериментируют, применяя отдельные эффекты и элементы из стиля гранж и сочетают их с яркими, контрастными изображениями.</span>
<img src="/img/scv.gif"  class="e608_91">
<img src="/img/flat.gif"   class="e608_93">
<img src="/img/brut.gif"   class="e608_95">
<img src="/img/material.gif"   class="e608_97">
<img src="/img/image 70.png"   class="e608_99">
<img src="/img/image 71.png"   class="e608_101">
<img src="/img/image 72.png"   class="e609_103">
</div>
  </body>

<%- include('./layouts/footer.ejs') %>