<%- include('./layouts/header.ejs') %>

  <body>
    <div class="screen">
      <div class="div">
        <div class="intro">
          <div class="text-wrapper">Логотип</div>
          <p class="p">
            В наши дни каждый бизнес, организация и даже мероприятие имеет свой уникальный знак - логотип. Логотип - это
            графическое изображение или символ, который идентифицирует бренд, компанию, продукт или услугу, является
            частью фирменного стиля.&nbsp;&nbsp;Лого важно для создания узнаваемости и запоминаемости бренда, а также в
            установлении связи с целевой аудиторией.
          </p>
          <p class="text-wrapper-2">
            Важно заметить, что лого — это не просто набор букв. Оно включает в себя уникальные шрифты, цвета и дизайн,
            которые отражают личность бренда. Например, Coca-Cola известна своим красным лого с уникальным курсивным
            шрифтом.
          </p>
          <p class="text-wrapper-3">
            Наличие качественного логотипа придает бренду профессиональный вид и позитивное впечатление у клиентов и
            потенциальных партнеров.
          </p>
          <div class="text-wrapper-4">Виды логотипов</div>
        </div>
        <div class="log">
          <div class="overlap">
            <div class="rectangle"></div>
            <div class="flexcontainer">
              <p class="text">
                <span class="span">Комбинированный:</span>
                <span class="text-wrapper-5"> сочетает в себе как текстовую, <br /></span>
              </p>
              <p class="text">
                <span class="text-wrapper-5"
                  >так и графическую части. Пример - логотип Adidas с тремя полосками и названием бренда.</span
                >
              </p>
            </div>
            <div class="img-comb">
              <div class="overlap-group">
                <img class="image" src="/img/image_49.png" />
                <img class="img" src="/img/image_50.png" />
                <img class="image-2" src="/img/image_51.png" />
              </div>
            </div>
          </div>
          <div class="overlap-2">
            <div class="rectangle-2"></div>
            <p class="nike-swoosh">
              <span class="span">Абстрактный: </span>
              <span class="text-wrapper-5"
                >не имеет прямой связи с названием бренда или его продукцией, но создает уникальный образ. Пример -
                логотип Nike &#34;Swoosh&#34;.</span
              >
            </p>
            <div class="img-aps">
              <div class="overlap-3">
                <img class="image-3" src="/img/image_53.png" />
                <img class="image-4" src="/img/image_55.png" />
                <img class="image-5" src="/img/image_54.png" />
              </div>
            </div>
          </div>
          <div class="overlap-4">
            <div class="rectangle-3"></div>
            <div class="flexcontainer-2">
              <p class="span-wrapper">
                <span class="text-wrapper-6"
                  >Выбор конкретного вида логотипа зависит от многих факторов, включая цели бренда, его целевую
                  аудиторию, отрасль <br
                /></span>
              </p>
              <p class="span-wrapper"><span class="text-wrapper-6">и конкурентную среду.</span></p>
            </div>
            <img class="dimg" src="/img/rings clay 2.png" />
          </div>
          <div class="overlap-5">
            <div class="flexcontainer-3">
              <p class="text">
                <span class="span">Эмблема: </span>
                <span class="text-wrapper-5">графический элемент интегрирован <br /></span>
              </p>
              <p class="text">
                <span class="text-wrapper-5"
                  >в текстовую часть логотипа. Примером может служить логотип Harley-Davidson.</span
                >
              </p>
            </div>
            <img class="img-emb" src="img/img_emb.png" />
          </div>
          <div class="overlap-6">
            <p class="coca-cola">
              <span class="span">Текстовый (логотип-название): </span>
              <span class="text-wrapper-5"
                >состоит из названия компании или бренда, написанного в определенном стиле или шрифте. Примером может
                служить логотип Coca-Cola.</span
              >
            </p>
            <img class="img-text" src="img/img_text.png" />
          </div>
          <div class="overlap-7">
            <div class="flexcontainer-4">
              <p class="text">
                <span class="span">Изображение (графический логотип): </span>
                <span class="text-wrapper-5">состоит <br /></span>
              </p>
              <p class="text">
                <span class="text-wrapper-5"
                  >из графического изображения или символа, который ассоциируется с брендом. Пример - логотип яблока у
                  Apple.</span
                >
              </p>
            </div>
            <div class="img-graph">
              <img class="image-6" src="/img/image_56.png" /> 
              <img class="group" src="/img/image_48.png" />
            </div>
          </div>
        </div>
        <div class="how">
          <div class="view"><div class="text-wrapper-7"><a href="/logo_practice">НАЧАТЬ ПРАКТИКУ</a></div></div>
          <div class="flexcontainer-wrapper">
            <div class="flexcontainer-5">
              <p class="span-wrapper">
                <span class="text-wrapper-6"
                  >Помимо логотипа у многих брендов есть нарисованный символ — фирменный знак. Если изображение прошло
                  государственную регистрацию, его еще называют товарным знаком. <br
                /></span>
              </p>
              <p class="span-wrapper">
                <span class="text-wrapper-6"><br /></span>
              </p>
              <p class="span-wrapper">
                <span class="text-wrapper-6"
                  >Символ бренда должен хорошо смотреться в любом масштабе, сочетаться с логотипом и нести понятную
                  идею. Необязательно знак будет в точности отражать сферу деятельности компании, <br
                /></span>
              </p>
              <p class="span-wrapper">
                <span class="text-wrapper-6"
                  >но он всегда имеет концепцию. Графически изображение может быть как детализированным, так и очень
                  простым.</span
                >
              </p>
            </div>
          </div>
          <div class="text-wrapper-8">Как разрабатывается логотип?</div>
          <div class="flexcontainer-6">
            <p class="text-2">
              <span class="text-wrapper-6"
                >Первоначально дизайнер изучает бренд, проводит анализ конкурентов, анализ целевой аудитории бизнеса,
                проводит интервью <br
              /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-6"
                >с клиентом для определения целей, задач и миссии бренда, собирает мудборд. Мудборд - доска настроения,
                идей, которые будут вдохновлять и направлять дизайнера. </span
              >
            </p>
          </div>
          <p class="text-wrapper-9">
            Далее выписываются ассоциации и приходит разработка концепций логотип. На этом этапе дизайнер разрабатывает
            несколько концепций логотипа, которые отражают ключевые идеи и ценности бренда. Он экспериментирует с
            различными формами, шрифтами, цветами и композициями.
          </p>
          <p class="text-wrapper-10">
            После создания нескольких концепций дизайнер представляет их клиенту для обсуждения и выбора. Клиент дает
            обратную связь, указывает на понравившиеся и не понравившиеся элементы, и вместе с дизайнером выбирает
            лучший вариант.
          </p>
          <div class="flexcontainer-7">
            <p class="text-2">
              <span class="text-wrapper-6">После выполнения разработки дизайнер передает клиенту логотип <br /></span>
            </p>
            <p class="text-2">
              <span class="text-wrapper-6"
                >в виде различных форматов: того для печати, для экранного использования, черно-белый, цветной, полный
                логотип, сокращенная версия и так далее. </span
              >
            </p>
          </div>
          <img class="image-7" src="img/image_57.png" />
        </div>
      </div>
    </div>
  </body>

