<%- include('./layouts/header.ejs') %>

<div class="color-wheel">
    <h2 class="color-wheel-title">Цветовой круг</h2>
    <div class="color-wheel-content">
      <p class="color-wheel-description">
        Цвет играет ключевую роль в дизайне, поскольку он имеет сильное эмоциональное и психологическое воздействие на людей. Разные цвета могут вызывать разные эмоции и настроения у зрителей. Например, красный может ассоциироваться с энергией и страстью, синий - со спокойствием и прохладой, 
        <br/ >
        а желтый - с радостью и оптимизмом. Цвета могут быть использованы для создания узнаваемости и установления связи с брендом.
        <br />
        <br />
        Например, мы четко знаем, что черный и белый - Билайн; красный - МТС. Цвета также могут помочь создать определенную атмосферу или контекст в дизайне. Например, теплые тона могут создать уют и комфорт, а холодные - чувство прохлады или смирения.
      </p>
      <div class="color-wheel-diagram">
        <div class="color-wheel-diagram-row">
          <div class="color-wheel-diagram-column">
            <img src="img/it.png" />
          </div>
          <div class="color-wheel-diagram-text">
            <div class="color-wheel-diagram-text-content">
              <p class="color-wheel-diagram-text-primary">
                Цветовой круг (круг Иттена) в графическом дизайне - это инструмент, который помогает организовать и классифицировать цвета
                <br />
                на основе их взаимоотношений и свойств. Он представляет собой круг, 
                <br />
                в котором цвета разделены на основные, вторичные и терциарные, 
                <br />
  
                а также располагаются в определенном порядке.
              </p>
              <p class="color-wheel-diagram-text-secondary">
                Основные цвета в цветовом круге - это красный, желтый и синий.
                <br />
                Они являются базовыми для всех остальных цветов и не могут быть созданы путем смешивания других цветов.
                <br />
                <br />
                Вторичные цвета образуются путем смешивания двух основных цветов. Например, смешивание красного и желтого создает оранжевый цвет.
                <br />
                <br />
                Терциарные цвета образуются путем смешивания основных
                <br />
                и вторичных цветов. Например, смешивание оранжевого и желтого создает желто-оранжевый цвет.
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="color-wheel-summary">
        С помощью этого инструмента созданы основные комбинации использования цветов, всего их 4.
      </p>
      <div class="color-wheel-combinations">
        <div class="color-wheel-combinations-row">
          <div class="color-wheel-combination">
            <div class="color-wheel-combination-content">
              <p class="color-wheel-combination-text">
                <strong>Комплиментарные цвета.</strong>
                <br />
                Они расположены друг напротив друга. Они подходят
                <br />
                для расстановки акцентов, для этого один цвет делают основным, а второй акцентный.
              </p>
              <img src="/img/1.gif" alt="Complementary colors" class="color-wheel-combination-image" />
            </div>
          </div>
          <div class="color-wheel-combination">
            <div class="color-wheel-combination-content">
              <p class="color-wheel-combination-text">
                <strong>Классическая триада.</strong>
                <br />
                Это сочетание трех цветов по углам равностороннего треугольника.
              </p>
              <img src="/img/2.gif" alt="Classic triad" class="color-wheel-combination-image" />
            </div>
          </div>
        </div>
      </div>
      <div class="color-wheel-combinations">
        <div class="color-wheel-combinations-row">
          <div class="color-wheel-combination">
            <div class="color-wheel-combination-content">
              <p class="color-wheel-combination-text">
                <strong>Тетрада.</strong>
                <br />
                Здесь сочетание состоит из четырех цветов (по углам квадрата). Обычно используется два основным и два дополнительных цвета в макете.
              </p>
              <img src="/img/4.gif" alt="Tetrad" class="color-wheel-combination-image" />
            </div>
          </div>
          <div class="color-wheel-combination">
            <div class="color-wheel-combination-content">
              <p class="color-wheel-combination-text">
                <strong>Аналоговая триада.</strong>
                <br />
                Сочетание трех цветов, расположенных рядом на внешнем круге. Такой прием используется для мягких переходов
                <br />
                без ярких акцентов.
              </p>
              <img src="/img/3.gif" alt="Analogous triad" class="color-wheel-combination-image" />
            </div>
          </div>
        </div>
      </div>
      <button class="color-wheel-cta">НАЧАТЬ ПРАКТИКУ</button>
    </div>
  </div>

  <%- include('./layouts/footer.ejs') %>