<div class="task">* Задание: необходимо подвинуть буквы мышью, чтобы между ними было одинакое расстояние </div>
<div class="app-menu-button">
    <div class="app-menu-icon top"></div>
    <div class="app-menu-icon middle"></div>
    <div class="app-menu-icon bottom"></div>
  </div>
  <div id="menu-overlay" class="menu-overlay"></div>
  <div id="menu" class="menu">
    <div class="menu-item">
      <a href="#" id="menu-restart">Начать сначала</a>
    </div>
    <div class="menu-separator"></div>
      <div class="menu-item">
      
    </div>
  </div>
  <div id="app">
    <div id="container">
      <div class="stage">
        <svg xmlns="http://www.w3.org/2000/svg" class="root" id="root" preserveAspectRatio="xMidYMid meet"></svg>
      </div>
      <div id="message" class="message hidden">
      </div>
      
      <div class="stage-footer">
          <div class="col left">
            <div id="tabular" class="tabular">
              <table>
                <tr>
                  <th>Typeface</th>
                  <td><a href="#" target="_blank" id="typeface"></a>
                </td>
              </tr>
              
              </table>
            </div>
            <div class="comparing">
              <div class="radio" id="radio">
              </div>
            </div>
          </div>
          <div class="col center">
            <div class="comparing" id="scoreWidget">
              <div class="score">
                <span class="title">Ваш результат</span>
                <span id="score">0</span>
                <span class="total">100</span>
                <div><a href="#">Try Again</a></div>
              </div>
              
            </div>
          </div>
          <div class="col right buttons">
            <a class="button" id="compare" href="#">Проверить</a>
              <a  class="button" id="next" href="#">Следующий</a>
              <a  class="button" id="tryagain" href="#">Попробуйте еще раз</a>
          </div>
          
        </div>
      </div>
    <div class="drawer">
    <div id="overlay">
      <div id="finalscore">
        <div class="col">
          <div class="title">Your score</div>
          <div id="finaltotalscore">0</div>
          <div class="outof">out of 100</div>
        </div>  
        <div class="col">
          <a class="button" id="twitter" target="_blank" href="http://twitter.com/share?">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" width="40" height="40"><path class="cls-2" d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"/></svg>
          Tweet your score
          </a>
          <div class="tryagain"><a href="#" id="tryagain">Play again</a></div>
        </div>
  <div class="plug">
            KernType is brought to you by <a href="http://method.ac">Method of Action</a>.
          </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" defer src="/js/test_game.js"></script>
  
