<body>
    <div class="title"><h3>* Задание: соотнесите описание с верным названием</h3></div>
    <section class="draggable-elements">
        <img src="/img/UI_task.png" class="fas fa-itask draggable" draggable="true" style="color: #FF5949;" id="itask">
        <img src="/img/UX.png" class="fas fa-UXr draggable" draggable="true" style="color: #ffce56;" id="UX">
        <img src="/img/UX_task.png" class="fas fa-xtask draggable" draggable="true" style="color: #97CC04;" id="xtask">
        <img src="/img/UI.png" class="fas fa-UI draggable" draggable="true" style="color: #FB7C08;" id="UI">
      </section>
      <section class="droppable-elements">
        <div class="droppable" data-draggable-id="UI"><span>UI</span></div>
        <div class="droppable" data-draggable-id="UX"><span>UX</span></div>
        <div class="droppable" data-draggable-id="itask"><span>Задачи UI</span></div>
        <div class="droppable" data-draggable-id="xtask"><span>Задачи UX</span></div>

      </section>
      <div class=e535_294>
        <span  class="e535_295"><a href="/ui_ux_2">СЛЕДУЮЩИЙ</a></span></div>
        <div class=out>
            <span  class="button_out"><a href="/learning">ВЫЙТИ</a></span></div>
        <script src="/js/ui_ux.js"></script>
    </body>