<body>
    <div class="title"><h3>* Задание: соотнесите анимированные картинки с названиями дизайна</h3></div>
    <section class="draggable-elements">
        <img src="/img/ux_test.gif" class="fas fa-ux draggable" draggable="true" style="color: #97CC04;" id="ux">
        <img src="/img/ui_test.gif" class="fas fa-ui draggable" draggable="true" style="color: #FF5949;" id="ui">

      </section>
      <section class="droppable-elements">
        <div class="droppable" data-draggable-id="ui"><span>UI</span></div>
        <div class="droppable" data-draggable-id="ux"><span>UX</span></div>

      </section>
      <div class=e535_294>
        <span  class="e535_295"><a href="/ui_ux_3">СЛЕДУЮЩИЙ</a></span></div>
        <div class=out>
            <span  class="button_out"><a href="/learning">ВЫЙТИ</a></span></div>
        <script src="/js/ui_ux.js"></script>
    </body>