<%- include('./layouts/header.ejs') %>

<div class="container">  
    <div class="div" style="margin-bottom: 100px;">
      <div class="div-2">
        <div class="column">
          <div class="div-3">
            <div class="div-4">Уникальная доска вакансий платформы Графикус</div>
            <div class="div-5">
              Изучите возможности трудоустройства в сфере дизайна,
              <br />
              предлагаемые самыми разнообразными сферами бизнеса,
              <br />
              которые хотят нанять специалистов.
            </div>
            <img loading="lazy" src="/img/logo.png" class="img" />
          </div>
        </div>
        <div class="column-2">
          <div class="div-6">
            <div class="div-7">
              <img loading="lazy" srcset="/img/ai.png" class="img-2" />
              <div class="div-8">
                <div class="div-9">Бренд-дизайнер</div>
                <div class="div-10">Дизайн логотипа</div>
              </div>
            </div>
            <div class="div-11">
              <img loading="lazy" srcset="/img/figma.png" class="img-3" />
              <div class="div-12">
                <div class="div-13">UI/UX дизайнер</div>
                <div class="div-14">Прототипирование</div>
              </div>
            </div>
            <div class="div-15">
              <img loading="lazy" srcset="/img/an.png" class="img-4" />
              <div class="div-16">
                <div class="div-17">Моушн-дизайнер</div>
                <div class="div-18">Моушн-анимация</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- <div class="div-filtr">
    <div class="div-f2">Фильтр</div>
    <div class="div-f3">Ключевое слово</div>
    <div class="div-f4">Поиск по ключевому слову</div>
    <div class="div-f5">Диапазон оплаты</div>
    <div class="div-f6">
      <div class="div-f7">от</div>
      <div class="div-f8">до</div>
    </div>
    <div class="div-f9">Применить</div>
  </div> -->
  
  
    <div class="container">
  
      <section class="newvacancies">
  
  
        <div class="newvacancies__content">
          <div class="vacancies__content-cart">
            <div class="vacancies__cart-logo"><img src="/img/vacancies__icons/vac1.svg" alt=""></div>
            <div class="vacancies__cart-text">
              <div id="vacancies__cart-title" class="vacancies__cart-title">
                Создать логотип для парфюмерного локального бренда
              </div>
              <div class="vacancies__cart-description">Perfume Oasis - маленький локальный бренд из Владимира,
                которому необходим логотип в минималистичном стиле.</div>
              <div class="vacancies__cart-hidden_text">Должна быть основная и сокращенная версии логотипа, бренд имеет фирменные цвета и шрифты.</div>
              <div class="vacancies__cart-details">
                <div class="vacancies__details-details">Дедлайн: 7 дней | 20 000 р. </div>
                <div class="vacancies__details-timestamp">1 день назад</div>
              </div>
              <div class="vacancies__cart-buttons">
                <button class="vacancies__button-showmore">Узнать подробнее</button>
                <button class="vacancies__button-apply">Откликнуться</button>
              </div>
  
            </div>
          </div>
          <div class="vacancies__content-cart">
            <div class="vacancies__cart-logo"><img src="/img/vacancies__icons/vac 2.svg" alt=""></div>
            <div class="vacancies__cart-text">
              <div id="vacancies__cart-title" class="vacancies__cart-title">
                Оформить социальную сеть для нутрициолога
              </div>
              <div class="vacancies__cart-description">Требуется полная уповка социальной сети (визуал, обложки актуальных, шаблоны для историй) в соответствии с фирменный стилем.</div>
              <div class="vacancies__cart-hidden_text">Нутрициолог имеет свои фотографии в хорошем качестве, которые можно использовать, а также представление о будущем визуале профиля.</div>
              <div class="vacancies__cart-details">
                <div class="vacancies__details-details">Дедлайн: 5 дней | 10 000 р. </div>
                <div class="vacancies__details-timestamp">1 день назад</div>
              </div>
              <div class="vacancies__cart-buttons">
                <button class="vacancies__button-showmore">Узнать подробнее</button>
                <button class="vacancies__button-apply">Откликнуться</button>
              </div>
  
            </div>
          </div>
          <div class="vacancies__content-cart">
            <div class="vacancies__cart-logo"><img src="/img/vacancies__icons/vac3.svg" alt=""></div>
            <div class="vacancies__cart-text">
              <div id="vacancies__cart-title" class="vacancies__cart-title">
                Оформить постер
              </div>
              <div class="vacancies__cart-description">Создать 3 постера в одном стиле по мотивам фильма “Дюна”.</div>
              <div class="vacancies__cart-hidden_text">Постеры должны содержать цветовую гамму фильма, а также необычные типографические решения.</div>
              <div class="vacancies__cart-details">
                <div class="vacancies__details-details">Дедлайн: 3 дня | 1 000 р. </div>
                <div class="vacancies__details-timestamp">сегодня</div>
              </div>
              <div class="vacancies__cart-buttons">
                <button class="vacancies__button-showmore">Узнать подробнее</button>
                <button class="vacancies__button-apply">Откликнуться</button>
              </div>
  
            </div>
          </div>
          <div class="vacancies__content-cart">
            <div class="vacancies__cart-logo"><img src="/img/vacancies__icons/vac4.svg" alt=""></div>
            <div class="vacancies__cart-text">
              <div id="vacancies__cart-title" class="vacancies__cart-title">
                Фирменный стиль для локального бренда парфюмерии
              </div>
              <div class="vacancies__cart-description">Создать фир. стиль для небольшого бренда - Perfume Oasis, который специализируется на парфюмерии</div>
              <div class="vacancies__cart-hidden_text">Фирменный стиль должен отражать миссию бренда, быть минималистичным и лаконичным. Необходим логобук</div>
              <div class="vacancies__cart-details">
                <div class="vacancies__details-details">Дедлайн: 14 дней | 60 000 р. </div>
                <div class="vacancies__details-timestamp">вчера</div>
              </div> 
              <div class="vacancies__cart-buttons">
                <button class="vacancies__button-showmore">Узнать подробнее</button>
                <button class="vacancies__button-apply">Откликнуться</button>
              </div>
            </div>
          </div>
          <div class="vacancies__content-cart">
            <div class="vacancies__cart-logo"><img src="/img/vacancies__icons/vac5.svg" alt=""></div>
            <div class="vacancies__cart-text">
              <div id="vacancies__cart-title" class="vacancies__cart-title">
                Логотип для автосервиса
              </div>
              <div class="vacancies__cart-description">Разработать логотип для автосервиса “АвтоМаг”.</div>
              <div class="vacancies__cart-hidden_text">Автосервису необходим небанальный логотип (без примитивных шестеренок и других элементов), который будет быстро запоминаться клиентам.</div>
              <div class="vacancies__cart-details">
                <div class="vacancies__details-details">Дедлайн: 7 дней | 15 000 р. </div>
                <div class="vacancies__details-timestamp">4 дня назад</div>
              </div>
              <div class="vacancies__cart-buttons">
                <button class="vacancies__button-showmore">Узнать подробнее</button>
                <button class="vacancies__button-apply">Откликнуться</button>
              </div>
  
            </div>
          </div>
  
          <div class="vacancies__content-cart">
            <div class="vacancies__cart-logo"><img src="/img/vacancies__icons/vac6.svg" alt=""></div>
            <div class="vacancies__cart-text">
              <div id="vacancies__cart-title" class="vacancies__cart-title">
                Рекламный макет для ароматизации
              </div>
              <div class="vacancies__cart-description">Создать рекламный макет для запуска таргетированной рекламы. Бренд имеет фирменный стиль и точное ТЗ.</div>
              <div class="vacancies__cart-hidden_text">Необходимы креативные макеты, для привлечения новой аудитории.</div>
              <div class="vacancies__cart-details">
                <div class="vacancies__details-details">Дедлайн: 3 дня | 3 000 р. </div>
                <div class="vacancies__details-timestamp">2 дня назад</div>
              </div> 
              <div class="vacancies__cart-buttons">
                <button class="vacancies__button-showmore">Узнать подробнее</button>
                <button class="vacancies__button-apply">Откликнуться</button>
              </div>
            </div>
          </div>
  
  
        </div>
        <div class="vacancies__filters">
          <form action="" class="form__filter">
            <h2>Фильтр</h2>
            <label for="key_word">Ключевое слово</label>
            <input type="text" name="key_word" id="key_word" placeholder="Поиск по ключевому слову">
            <label>Диапазон оплаты</label>
            <div class="from__to-filters">
              <input type="text" name="from" id="from" placeholder="от">
              <input type="text" name="to" id="to" placeholder="до">
            </div>
            <button type="submit">Применить</button>
          </form>
        </div>
      </section>
    </div>
</div>

<script src="/js/find.js"></script>

<script>
  var showMoreButtons = document.querySelectorAll(".vacancies__button-showmore");
  
  showMoreButtons.forEach(function(button) {
    button.addEventListener("click", function() {
      var hiddenText = this.closest(".vacancies__content-cart").querySelector(".vacancies__cart-hidden_text");
      hiddenText.classList.toggle("text-visible");
      if (this.textContent === "Узнать подробнее") {
        this.textContent = "Скрыть подробности";
      } else {
        this.textContent = "Узнать подробнее";
      }
    });
  });
</script>

<!-- Footer -->
<%- include('./layouts/footer.ejs') %>
  