html{
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #FBF8EE;
}

body{
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.main{
    margin-bottom: 60px;
}
.main__title{
    font-size: 32px;
    font-weight: 700;
    width: 560px;
    line-height: 50px;
    margin-bottom: 35px;
}


.main__subtitle{
    width: 740px;
    margin-bottom: 54px;
}

.main__content{
    display: flex;
    justify-content: space-between;
}

.main__right{
    text-align: right;
}

.image3d{
    perspective: 10px;
    width: 400px;
    height: 400px;
    margin-right: 10px;
    margin-left: 900px;
    margin-top: -390px;
    overflow: hidden;
}

.image3d img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
  

.learn{
    margin-bottom: 60px;
    border-bottom: 1px solid #577590;
}

.learn__content{
    position: relative;
}
.learn__content::before{
    content: "";
    position: absolute;
    left: -290px;
    top: 350px;
    width: 338px;
    height: 338px;
}

.learn__content::after{
    content: "";
    position: absolute;
    right: -350px;
    top: -170px;
    width: 410px;
    height: 461px;
}

.learn__title{
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 20px;
}

.learn__items{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 50px;

}

.learn__side-item{
    display: flex;
    border: 1px solid #577590;
    border-radius: 20px;
    padding: 15px;
    width: 350px;
    align-items: center;
    margin-bottom: 40px;
}

.side-item-image{
    margin-right: 22px;
}

.learn__center-item{
    border: 1px solid #577590;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 29px;
    padding-left: 29px;
    width: 300px;
    border-radius: 30px;

}

.learn__button{
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}


.collapsible{
    max-width: 50%;
    overflow: hidden;
    padding-top: 18px;
    border-top: 1px #000 solid;
}

.collapsible-last{
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.collapsible input{
    display: none;
}

.collapsible label{
    position: relative;
    font-weight: 200;
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-bottom: 33px;
    padding-right: 12px;
    margin-top: 15px;
    cursor: pointer;
    z-index: 1;
}



.collapsible label:after{
    content: "";
    position: absolute;
    width: 30px;
    height: 23px;
    right: 14px;
    background: url(../img/arrow.svg) no-repeat 0 0;
    transition: all 0.3s ease;

}

.collapsible input:checked + label:after{
    transform: rotate(180deg);
}

.collapsible-text{
    max-height: 1px;
    overflow: hidden;
    font-size: 18px;
    font-weight: 200;
    line-height: 2;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
    
 }

 .collapsible-text a{
    text-decoration: none;
    color: #000;
 }

 .p {
    text-decoration: none;
    color: #000;
 }


.collapsible input:checked ~ .collapsible-text{
    max-height: 150px;
    padding-bottom: 20px;
    opacity: 1;
    top: 0;
}


.theme{
    margin-bottom: 50px;
}

.dpo{
    margin-top: 50px;
    font-size: 14px;
    line-height: 20px;
    margin-left: 80px;
    margin-bottom: 10px;
}

.liter{
    margin-top: 30px;
    font-size: 14px;
    line-height: 20px;
    margin-left: 80px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.liter a{
    color: #000;
}