html{
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #FBF8EE;
}
.main { 
	overflow:hidden;
	max-width: 1200px;
    margin: 0 auto;
}
.main { 
	background-color:rgba(251.45833164453506, 248.14048647880554, 238.18690538406372, 1);
	width:1200px;
	height:3736px;
	position:absolute;
}
.e510_183 { 
	color:rgba(0, 0, 0, 1);
	width:119px;
	height:25px;
	position:absolute;
	left:600px;
	top:29px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e510_185 { 
	color:rgba(0, 0, 0, 1);
	width:205px;
	height:20px;
	position:absolute;
	left:576px;
	top:160px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e510_191 { 
	color:rgba(0, 0, 0, 1);
	width:469px;
	height:20px;
	position:absolute;
	left:402px;
	top:971px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e512_124 { 
	color:rgba(0, 0, 0, 1);
	width:162px;
	height:20px;
	position:absolute;
	left:550px;
	top:2546px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e510_184 { 
	color:rgba(0, 0, 0, 1);
	width:1150px;
	height:55px;
	position:absolute;
	left:20px;
	top:80px;
	font-family:Unbounded;
	line-height: 18px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e510_187 { 
	color:rgba(0, 0, 0, 1);
	width:592px;
	height:164px;
	position:absolute;
	left:20px;
	top:278px;
	font-family:Unbounded;
	line-height: 18px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e510_190 { 
	color:rgba(0, 0, 0, 1);
	width:550px;
	height:346px;
	position:absolute;
	left:610px;
	top:520px;
	font-family:Unbounded;
	line-height: 18px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e510_186 { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:17px;
	position:absolute;
	left:20px;
	top:247px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e510_189 { 
	color:rgba(0, 0, 0, 1);
	width:232px;
	height:17px;
	position:absolute;
	left:610px;
	top:486px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e510_192 { 
	color:rgba(0, 0, 0, 1);
	width:600px;
	height:316px;
	position:absolute;
	left:20px;
	top:1055px;
	text-align:left;
	line-height: 16px;
	font-size:14px;
	letter-spacing:0;
}
.e512_117 { 
	color:rgba(0, 0, 0, 1);
	width:1200px;
	height:59px;
	position:absolute;
	left:20px;
	top:1589px;
	text-align:left;
	line-height: 16px;
	font-size:14px;
	letter-spacing:0;
}
.e512_119 { 
	color:rgba(0, 0, 0, 1);
	width:600px;
	height:191px;
	position:absolute;
	left:20px;
	top:1730px;
	text-align:left;
	line-height: 16px;
	font-size:14px;
	letter-spacing:0;
}
.e512_121 { 
	color:rgba(0, 0, 0, 1);
	width:600px;
	height:155px;
	position:absolute;
	left:20px;
	top:1995px;
	text-align:left;
	line-height: 16px;
	font-size:14px;
	letter-spacing:0;
}
.e512_122 { 
	color:rgba(0, 0, 0, 1);
	width:600px;
	height:192px;
	position:absolute;
	left:20px;
	top:2236px;
	text-align:left;
	line-height: 16px;
	font-size:14px;
	letter-spacing:0;
}
.e512_125 { 
	color:rgba(0, 0, 0, 1);
	width:777px;
	height:51px;
	position:absolute;
	left:209px;
	top:2597px;
	font-family:Unbounded;
	line-height: 16px;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e510_193 { 
	background-color:rgba(244.0000006556511, 238.00000101327896, 221.00000202655792, 1);
	width:595px;
	height:113px;
	position:absolute;
	left:20px;
	top:1388px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e510_194 { 
	color:rgba(0, 0, 0, 1);
	width:517px;
	height:69px;
	position:absolute;
	left:36px;
	top:1410px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e512_116 { 
	border:2px solid rgba(244.0000006556511, 238.00000101327896, 221.00000202655792, 1);
}
.e512_116 { 
	width:711.5px;
	height:0px;
	position:absolute;
	left:342px;
	top:1545px;
}
.e512_118 { 
	border:2px solid rgba(244.0000006556511, 238.00000101327896, 221.00000202655792, 1);
}
.e512_118 { 
	width:711.5px;
	height:0px;
	position:absolute;
	left:342px;
	top:1687px;
}
.e512_120 { 
	border:2px solid rgba(244.0000006556511, 238.00000101327896, 221.00000202655792, 1);
}
.e512_120 { 
	width:711.5px;
	height:0px;
	position:absolute;
	left:342px;
	top:1952px;
}
.e512_123 { 
	border:2px solid rgba(244.0000006556511, 238.00000101327896, 221.00000202655792, 1);
}
.e512_123 { 
	width:711.5px;
	height:0px;
	position:absolute;
	left:342px;
	top:2193px;
}
.e514_227 { 
	border:2px solid rgba(244.0000006556511, 238.00000101327896, 221.00000202655792, 1);
}
.e514_227 { 
	width:711.5px;
	height:0px;
	position:absolute;
	left:344px;
	top:2476px;
}
.e512_126 { 
	background-color:rgba(243.66666734218597, 237.91344165802002, 220.65367341041565, 1);
	width:382px;
	height:400px;
	position:absolute;
	left:20px;
	top:2679px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e512_129 { 
	background-color:rgba(243.66666734218597, 237.91344165802002, 220.65367341041565, 1);
	width:382px;
	height:400px;
	position:absolute;
	left:20px;
	top:3104px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e512_130 { 
	background-color:rgba(243.66666734218597, 237.91344165802002, 220.65367341041565, 1);
	width:382px;
	height:400px;
	position:absolute;
	left:437px;
	top:3099px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e512_127 { 
	background-color:rgba(243.66666734218597, 237.91344165802002, 220.65367341041565, 1);
	width:382px;
	height:400px;
	position:absolute;
	left:437px;
	top:2682px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e512_128 { 
	background-color:rgba(243.66666734218597, 237.91344165802002, 220.65367341041565, 1);
	width:382px;
	height:820px;
	position:absolute;
	left:849px;
	top:2679px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e512_131 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:17px;
	position:absolute;
	left:169px;
	top:2898px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e512_137 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:17px;
	position:absolute;
	left:163px;
	top:3313px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e512_133 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:17px;
	position:absolute;
	left:579px;
	top:2898px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e512_138 { 
	color:rgba(0, 0, 0, 1);
	width:124px;
	height:17px;
	position:absolute;
	left:566px;
	top:3313px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e512_136 { 
	color:rgba(0, 0, 0, 1);
	width:190px;
	height:17px;
	position:absolute;
	left:950px;
	top:2901px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e512_132 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:121px;
	position:absolute;
	left:44px;
	top:2932px;
	font-family:Unbounded;
	line-height: 16px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e512_139 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:138px;
	position:absolute;
	left:44px;
	top:3347px;
	font-family:Unbounded;
	line-height: 16px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e512_134 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:104px;
	position:absolute;
	left:455px;
	top:2932px;
	font-family:Unbounded;
	line-height: 16px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e512_140 { 
	color:rgba(0, 0, 0, 1);
	width:349px;
	height:85px;
	position:absolute;
	left:455px;
	top:3347px;
	font-family:Unbounded;
	line-height: 16px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e512_135 { 
	color:rgba(0, 0, 0, 1);
	width:329px;
	height:486px;
	position:absolute;
	left:864px;
	top:2932px;
	font-family:Unbounded;
	line-height: 16px;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e512_141 { 
	box-shadow:2px 5px 28.799999237060547px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(250.75000405311584, 124.34412494301796, 7.6617844216525555, 1) 0%,rgba(235.87498784065247, 123.44124019145966, 19.656248353421688, 1) 100%) ;
	width:273px;
	height:59px;
	position:absolute;
	left:561px;
	top:3598px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e512_142 { 
	color:rgba(251.45833164453506, 248.14048647880554, 238.18690538406372, 1);
	width:250px;
	height:25px;
	position:absolute;
	left:21px;
	top:17px;
	font-family:Unbounded;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}

.e512_142 a{
	text-decoration: none;
	color: #FBF8EE;
}
.e549_437 { 
	background-color:rgba(244.0000006556511, 238.00000101327896, 221.00000202655792, 1);
	width:397px;
	height:193px;
	position:absolute;
	left:701px;
	top:256px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e552_461 { 
	width:498px;
	height:400px;
	position:absolute;
	left:98px;
	top:487px;
}
.e549_439 { 
	background-color:rgba(87.00000241398811, 117.00000062584877, 144.00000661611557, 1);
	width:498px;
	height:400px;
	position:absolute;
	left:-50px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e551_445 { 
	width:296px;
	height:111px;
	position:absolute;
	left:-20px;
	top:19px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e552_449 { 
	width:119px;
	height:117px;
	position:absolute;
	left:315px;
	top:142px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e552_451 { 
	width:119px;
	height:111px;
	position:absolute;
	left:315px;
	top:19px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e552_453 { 
	width:120px;
	height:110px;
	position:absolute;
	left:315px;
	top:271px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e552_455 { 
	width:296px;
	height:110px;
	position:absolute;
	left:-20px;
	top:142px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e552_457 { 
	width:288px;
	height:83px;
	position:absolute;
	left:-20px;
	top:34px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e552_460 { 
	background-color:rgba(254.00000005960464, 255, 249.00000035762787, 1);
	width:296px;
	height:110px;
	position:absolute;
	left:-20px;
	top:271px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e552_459 { 
	width:188px;
	height:110px;
	position:absolute;
	left:27px;
	top:271px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_469 { 
	width:250px;
	height:135px;
	position:absolute;
	left:94px;
	top:2744px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_471 { 
	width:302px;
	height:152px;
	position:absolute;
	left:477px;
	top:2714px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_509 { 
	width:149px;
	height:151px;
	position:absolute;
	left:114px;
	top:3137px;
}
.e554_473 { 
	width:149px;
	height:151px;
	position:absolute;
	left:-70px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}

.font {
	width:149px;
	height:151px;
	position:absolute;
	left:110px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}

.e555_511 { 
	width:352px;
	height:176px;
	position:absolute;
	left:515px;
	top:3114px;
}
.e554_479 { 
	width:179px;
	height:106px;
	position:absolute;
	left:-70px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_481 { 
	width:159px;
	height:78.43048858642578px;
	position:absolute;
	left:193px;
	top:93px;
}
.e554_477 { 
	overflow:hidden;
}
.e554_477 { 
	width:159px;
	height:78.43048858642578px;
	position:absolute;
	left:0px;
	top:0px;
}
.e554_480 { 
	width:160px;
	height:109px;
	position:absolute;
	left:-70px;
	top:-13.54704475402832px;
}
.e554_486 { 
	width:185px;
	height:89px;
	position:absolute;
	left:0px;
	top:87px;
}
.e554_488 { 
	
	width:174.25257873535156px;
	height:65.43338012695312px;
	position:absolute;
	left:10px;
	top:10.946011543273926px;
}
.e554_493 { 
	width:154px;
	height:73px;
	position:absolute;
	left:128px;
	top:14px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e554_495 { 
	width:300px;
	height:154px;
	position:absolute;
	left:890px;
	top:2725px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_498 { 
	width:510px;
	height:378px;
	position:absolute;
	left:788px;
	top:1079px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_500 { 
	width:183px;
	height:165px;
	position:absolute;
	left:717px;
	top:270px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e555_506 { 
	width:165px;
	height:165px;
	position:absolute;
	left:918px;
	top:270px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e591_275 { 
	width:370px;
	height:207px;
	position:absolute;
	left:740px;
	top:1721px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e591_277 { 
	width:400px;
	height:206px;
	position:absolute;
	left:734px;
	top:1971px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e591_279 { 
	width:348px;
	height:186px;
	position:absolute;
	left:750px;
	top:2242px;
	background-repeat:no-repeat;
	background-size:cover;
}
