html{
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #FBF8EE;
}

.e531_220 { 
	overflow:hidden;
}
.e531_220 { 
	background-color:rgba(251.45833164453506, 248.14048647880554, 238.18690538406372, 1);
	width:1400px;
	height:2384px;
	position:absolute;
}
.e531_225 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:25px;
	position:absolute;
	left:621px;
	top:82px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e531_266 { 
	color:rgba(0, 0, 0, 1);
	width:764px;
	height:63px;
	position:absolute;
	left:321px;
	top:744px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e531_269 { 
	color:rgba(0, 0, 0, 1);
	width:608px;
	height:25px;
	position:absolute;
	left:391px;
	top:1271px;
	font-family:Unbounded;
	font-weight: bold;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e531_226 { 
	color:rgba(0, 0, 0, 1);
	width:1200px;
	height:87px;
	position:absolute;
	left:106px;
	top:137px;
	font-family:Unbounded;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e531_227 { 
	color:rgba(0, 0, 0, 1);
	width:616px;
	height:426px;
	position:absolute;
	left:105px;
	top:254px;
	font-family:Unbounded;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e531_267 { 
	color:rgba(0, 0, 0, 1);
	width:1197px;
	height:322px;
	position:absolute;
	left:106px;
	top:864px;
	font-family:Unbounded;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e531_268 { 
	color:rgba(0, 0, 0, 1);
	width:614px;
	height:119px;
	position:absolute;
	left:101px;
	top:1373px;
	font-family:Unbounded;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e532_270 { 
	color:rgba(0, 0, 0, 1);
	width:614px;
	height:34px;
	position:absolute;
	left:100px;
	top:1555px;
	font-family:Unbounded;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e532_271 { 
	color:rgba(0, 0, 0, 1);
	width:614px;
	height:68px;
	position:absolute;
	left:101px;
	top:1652px;
	font-family:Unbounded;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e532_272 { 
	color:rgba(0, 0, 0, 1);
	width:614px;
	height:51px;
	position:absolute;
	left:100px;
	top:1765px;
	font-family:Unbounded;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e532_273 { 
	color:rgba(0, 0, 0, 1);
	width:614px;
	height:51px;
	position:absolute;
	left:100px;
	top:1861px;
	font-family:Unbounded;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e532_274 { 
	color:rgba(0, 0, 0, 1);
	width:614px;
	height:68px;
	position:absolute;
	left:100px;
	top:1957px;
	font-family:Unbounded;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e532_275 { 
	color:rgba(0, 0, 0, 1);
	width:614px;
	height:85px;
	position:absolute;
	left:100px;
	top:2054px;
	font-family:Unbounded;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e531_230 { 
	box-shadow:2px 5px 28.799999237060547px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(250.75000405311584, 124.34412494301796, 7.6617844216525555, 1) 0%,rgba(235.87498784065247, 123.44124019145966, 19.656248353421688, 1) 100%) ;
	width:273px;
	height:59px;
	position:absolute;
	left:563px;
	top:2242px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e531_231 { 
	color:rgba(251.45833164453506, 248.14048647880554, 238.18690538406372, 1);
	width:260px;
	height:25px;
	position:absolute;
	left:21px;
	top:17px;
	font-family:Unbounded;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e611_105 { 
	width:444px;
	height:445px;
	position:absolute;
	left:856px;
	top:241px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e611_109 { 
	width:435px;
	height:218.50694274902344px;
	position:absolute;
	left:865px;
	top:1373px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e611_110 { 
	width:435px;
	height:235px;
	position:absolute;
	left:865px;
	top:1613px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e611_112 { 
	width:435px;
	height:286px;
	position:absolute;
	left:865px;
	top:1875px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-repeat:no-repeat;
	background-size:cover;
}
