html{
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #FBF8EE;
}
.screen {
	background-color: #fbf8ee;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
  }
  
  .screen .div {
	background-color: #fbf8ee;
	width: 1400px;
	height: 2518px;
	position: relative;
  }
  
  .screen .text-wrapper {
	position: absolute;
	top: 63px;
	left: 580px;
	font-family: 'Unbounded';
	font-weight: 700;
	color: #000000;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
  }
  
  .screen .p {
	position: absolute;
	width: 1200px;
	top: 118px;
	left: 101px;
	font-family: 'Unbounded';
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
  }
  
  .screen .flexcontainer {
	width: 661px;
	height: 324px;
	top: 196px;
	left: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1px;
	position: absolute;
  }
  
  .screen .text {
	position: relative;
	align-self: stretch;
	font-family: 'Unbounded';
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
  }
  
  .screen .span {
	font-weight: 600;
  }
  
  .screen .text-wrapper-2 {
	font-family: 'Unbounded';
  }
  
  .screen .flexcontainer-2 {
	width: 927px;
	height: 88px;
	top: 574px;
	left: 238px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1px;
	position: absolute;
  }
  
  .screen .span-wrapper {
	position: relative;
	align-self: stretch;
	font-family: 'Unbounded';
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0;
	line-height: normal;
  }
  
  .screen .text-wrapper-3 {
	font-family: 'Unbounded';
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	left: 50px;
  }
  
  .screen .overlap {
	top: 771px;
	left: 155px;
	position: absolute;
	width: 1146px;
	height: 403px;
  }
  
  .screen .flexcontainer-3 {
	width: 680px;
	height: 163px;
	top: 67px;
	left: -50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1px;
	position: absolute;
  }
  
  .screen .text-2 {
	position: relative;
	align-self: stretch;
	font-family: 'Unbounded';
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
  }
  
  .screen .overlap-group {
	top: 0;
	left: 0;
	position: absolute;
	width: 1146px;
	height: 403px;
  }
  
  .screen .flexcontainer-4 {
	width: 1146px;
	height: 147px;
	top: 256px;
	left: -50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1px;
	position: absolute;
  }
  
  .screen .fs {
	position: absolute;
	width: 391px;
	height: 269px;
	top: 0;
	left: 754px;
	object-fit: cover;
  }
  
  .screen .text-wrapper-4 {
	position: absolute;
	top: 20px;
	left: -50px;
	font-family: 'Unbounded';
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
  }
  
  .screen .flexcontainer-5 {
	width: 1199px;
	height: 470px;
	top: 1464px;
	left: 103px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1px;
	position: absolute;
  }
  
  .screen .text-wrapper-5 {
	position: absolute;
	width: 620px;
	top: 1991px;
	left: 103px;
	font-family: 'Unbounded';
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
  }
  
  .screen .flexcontainer-6 {
	width: 620px;
	height: 180px;
	top: 2157px;
	left: 103px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1px;
	position: absolute;
  }
  
  .screen .flexcontainer-7 {
	width: 1147px;
	height: 44px;
	top: 1243px;
	left: 105px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1px;
	position: absolute;
  }
  
  .screen .text-wrapper-6 {
	position: absolute;
	top: 1200px;
	left: 105px;
	font-family: 'Unbounded';
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
  }
  
  .screen .text-wrapper-7 {
	position: absolute;
	top: 1313px;
	left: 105px;
	font-family: 'Unbounded';
	font-weight: 400;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0;
	line-height: normal;
  }
  
  .screen .view {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px 10px;
	padding: 17px 21px;
	position: absolute;
	top: 2395px;
	left: 555px;
	border-radius: 50px;
	box-shadow: 2px 5px 28.8px #00000040;
	background: linear-gradient(180deg, rgb(250.75, 124.34, 7.66) 0%, rgb(235.87, 123.44, 19.66) 100%);
  }
  
  .screen .text-wrapper-8 {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	font-family: 'Unbounded';
	font-weight: 500;
	color: #fbf8ee;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
  }

  .screen .text-wrapper-8 a {
	text-decoration: none;
	color: #FBF8EE;
  }
  
  .screen .text-wrapper-9 {
	position: absolute;
	top: 716px;
	left: 482px;
	font-family: 'Unbounded';
	font-weight: 700;
	color: #000000;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
  }
  
  .screen .text-wrapper-10 {
	position: absolute;
	top: 1387px;
	left: 549px;
	font-family: 'Unbounded';
	font-weight: 700;
	color: #000000;
	font-size: 16px;
	letter-spacing: 0;
	line-height: normal;
  }
  
  .screen .image {
	position: absolute;
	width: 505px;
	height: 324px;
	top: 197px;
	left: 798px;
	object-fit: cover;
  }
  
  .screen .gaidlain {
	position: absolute;
	width: 537px;
	height: 365px;
	top: 1962px;
	left: 763px;
	object-fit: cover;
  }
  