html{
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #FBF8EE;
}
.screen {
  background-color: #fbf8ee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #fbf8ee;
  width: 1400px;
  height: 2821px;
  position: relative;
}

.screen .intro {
  position: absolute;
  width: 1400px;
  height: 392px;
  top: 0;
  left: 0;
}

.screen .text-wrapper {
  position: absolute;
  top: 47px;
  left: 646px;
  font-family: 'Unbounded';
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .p {
  position: absolute;
  width: 1200px;
  top: 102px;
  left: 100px;
  font-family: 'Unbounded';
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-2 {
  width: 1199px;
  top: 189px;
  left: 101px;
  font-family: 'Unbounded';
  position: absolute;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-3 {
  position: absolute;
  width: 1200px;
  top: 258px;
  left: 100px;
  font-family: 'Unbounded';
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-4 {
  position: absolute;
  top: 325px;
  left: 615px;
  font-family: 'Unbounded';
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .log {
  position: absolute;
  width: 1400px;
  height: 1373px;
  top: 396px;
  left: 0;
}

.screen .overlap {
  position: absolute;
  width: 578px;
  height: 438px;
  top: 446px;
  left: 100px;
}

.screen .rectangle {
  width: 577px;
  top: 0;
  left: 1px;
  border: 5px solid;
  border-color: #f4eedd;
  position: absolute;
  height: 438px;
  border-radius: 20px;
}

.screen .flexcontainer {
  position: absolute;
  width: 521px;
  height: 60px;
  top: 351px;
  left: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.screen .text {
  position: relative;
  align-self: stretch;
  font-family: 'Unbounded';
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .span {
  font-weight: 600;
}

.screen .text-wrapper-5 {
  font-family: 'Unbounded';
}

.screen .img-comb {
  position: absolute;
  width: 540px;
  height: 222px;
  top: 76px;
  left: 0;
}

.screen .overlap-group {
  position: relative;
  height: 222px;
}

.screen .image {
  position: absolute;
  width: 209px;
  height: 209px;
  top: 9px;
  left: 0;
  object-fit: cover;
}

.screen .img {
  position: absolute;
  width: 203px;
  height: 203px;
  top: 9px;
  left: 187px;
  object-fit: cover;
}

.screen .image-2 {
  position: absolute;
  width: 158px;
  height: 222px;
  top: 0;
  left: 382px;
}

.screen .overlap-2 {
  position: absolute;
  width: 628px;
  height: 438px;
  top: 935px;
  left: 100px;
}

.screen .rectangle-2 {
  width: 577px;
  top: 0;
  left: 0;
  border: 5px solid;
  border-color: #f4eedd;
  position: absolute;
  height: 438px;
  border-radius: 20px;
}

.screen .nike-swoosh {
  width: 521px;
  top: 362px;
  left: 19px;
  font-family: 'Unbounded';
  position: absolute;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .img-aps {
  position: absolute;
  width: 609px;
  height: 269px;
  top: 37px;
  left: 19px;
}

.screen .overlap-3 {
  position: relative;
  height: 269px;
}

.screen .image-3 {
  position: absolute;
  width: 248px;
  height: 269px;
  top: 0;
  left: 137px;
}

.screen .image-4 {
  position: absolute;
  width: 246px;
  height: 269px;
  top: 0;
  left: 363px;
}

.screen .image-5 {
  position: absolute;
  width: 200px;
  height: 71px;
  top: 107px;
  left: 0;
  object-fit: cover;
}

.screen .overlap-4 {
  position: absolute;
  width: 669px;
  height: 480px;
  top: 893px;
  left: 731px;
}

.screen .rectangle-3 {
  width: 348px;
  top: 42px;
  left: 0;
  background-color: #f4eedd;
  position: absolute;
  height: 438px;
  border-radius: 20px;
}

.screen .flexcontainer-2 {
  position: absolute;
  width: 270px;
  height: 121px;
  top: 199px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.screen .span-wrapper {
  position: relative;
  align-self: stretch;
  font-family: 'Unbounded';
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-6 {
  font-family: 'Unbounded';
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
}

.screen .dimg {
  position: absolute;
  width: 421px;
  height: 480px;
  top: 0;
  left: 248px;
  
}

.screen .overlap-5 {
  position: absolute;
  width: 569px;
  height: 438px;
  top: 446px;
  left: 732px;
  border-radius: 20px;
  border: 5px solid;
  border-color: #f4eedd;
}

.screen .flexcontainer-3 {
  position: absolute;
  width: 502px;
  height: 60px;
  top: 357px;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.screen .img-emb {
  position: absolute;
  width: 535px;
  height: 216px;
  top: 77px;
  left: 10px;
  object-fit: cover;
}

.screen .overlap-6 {
  position: absolute;
  width: 577px;
  height: 399px;
  top: -4px;
  left: 100px;
  background-color: #f4eedd;
  border-radius: 20px;
}

.screen .coca-cola {
  width: 558px;
  top: 310px;
  left: 19px;
  font-family: 'Unbounded';
  position: absolute;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .img-text {
  position: absolute;
  width: 569px;
  height: 240px;
  top: 40px;
  left: 1px;
  object-fit: cover;
}

.screen .overlap-7 {
  position: absolute;
  width: 569px;
  height: 399px;
  top: -4px;
  left: 731px;
  background-color: #f4eedd;
  border-radius: 20px;
}

.screen .flexcontainer-4 {
  position: absolute;
  width: 530px;
  height: 60px;
  top: 310px;
  left: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.screen .img-graph {
  position: absolute;
  width: 513px;
  height: 196px;
  top: 69px;
  left: 32px;
}

.screen .image-6 {
  position: absolute;
  width: 196px;
  height: 196px;
  top: 0;
  left: 317px;
  object-fit: cover;
}

.screen .group {
  position: absolute;
  width: 310px;
  height: 176px;
  top: 3px;
  left: 0;
}

.screen .how {
  position: absolute;
  width: 1400px;
  height: 1049px;
  top: 1772px;
  left: 0;
}

.screen .view {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px 10px;
  padding: 17px 21px;
  position: absolute;
  top: 942px;
  left: 557px;
  border-radius: 50px;
  box-shadow: 2px 5px 28.8px #00000040;
  background: linear-gradient(180deg, rgb(250.75, 124.34, 7.66) 0%, rgb(235.87, 123.44, 19.66) 100%);
}

.screen .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: 'Unbounded';
  font-weight: 500;
  color: #fbf8ee;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-7 a {
  text-decoration: none;
  color: #FBF8EE;
}

.screen .flexcontainer-wrapper {
  position: absolute;
  width: 668px;
  height: 240px;
  top: 651px;
  left: 366px;
  border-radius: 20px;
  border: 5px solid;
  border-color: #f4eedd;
}

.screen .flexcontainer-5 {
  position: relative;
  width: 614px;
  height: 156px;
  top: 30px;
  left: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.screen .text-wrapper-8 {
  position: absolute;
  top: 80px;
  left: 536px;
  font-family: 'Unbounded';
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .flexcontainer-6 {
  position: absolute;
  width: 1200px;
  height: 52px;
  top: 139px;
  left: 101px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.screen .text-2 {
  position: relative;
  align-self: stretch;
  font-family: 'Unbounded';
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-9 {
  position: absolute;
  width: 614px;
  top: 242px;
  left: 100px;
  font-family: 'Unbounded';
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-10 {
  position: absolute;
  width: 614px;
  top: 378px;
  left: 100px;
  font-family: 'Unbounded';
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .flexcontainer-7 {
  position: absolute;
  width: 614px;
  height: 69px;
  top: 497px;
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.screen .image-7 {
  position: absolute;
  width: 460px;
  height: 392px;
  top: 230px;
  left: 777px;
  object-fit: cover;
}

