  html{
    font-family: 'Unbounded', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #FBF8EE;
}
  /* .container {
    background-color: #fbf8ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 0 27px;
  } */

  .container{
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 0 27px;
}

.main{
    margin-bottom: 60px;
}
.main__title{
    font-size: 32px;
    font-weight: 700;
    width: 560px;
    line-height: 50px;
    margin-bottom: 35px;
}


.main__subtitle{
    width: 740px;
    margin-bottom: 54px;
    line-height: 25px;
}

.main__content{
    display: flex;
    justify-content: space-between;
}

.main__right{
    text-align: right;
}

  .header {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    color: #000;
    font-weight: 300;
    justify-content: space-between;
    padding: 0 20px;
  }

  @media (max-width: 1200px) {
    .header {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  .learning-rules {
    font-family: 'Unbounded', sans-serif;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 1);
    align-self: stretch;
    justify-content: center;
    margin: auto 0;
    padding: 13px 17px;
  }

  .nav_logo {
    aspect-ratio: 3.23;
    object-fit: contain;
    width: 262px;
    align-self: stretch;
    max-width: 100%;
  }

  .nav {
    align-self: stretch;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: auto 0;
  }

  .vacancies {
    font-family: 'Unbounded', sans-serif;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 1);
    white-space: nowrap;
    justify-content: center;
    padding: 13px 23px;
  }

  .vacancies a{
    text-decoration: none;
    color: #000;
  }

  @media (max-width: 1200px) {
    .vacancies {
      white-space: initial;
      padding: 0 20px;
    }
  }

  .profile {
    font-family: 'Unbounded', sans-serif;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 1);
    justify-content: center;
    padding: 12px 18px;
  }

  .profile a{
    text-decoration: none;
    color: #000;
  }

  .divider {
    width: 100%;
    border: 1px solid #000;
    align-self: stretch;
    margin-top: -15px;
  }

  @media (max-width: 1200px) {
    .divider {
      max-width: 100%;
    }
  }

  .step-1 {
    display: flex;
    margin-top: 69px;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    font-weight: 300;
  }

  @media (max-width: 1200px) {
    .step-1 {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .step-1-content {
    display: flex;
    gap: 20px;
  }

  @media (max-width: 1200px) {
    .step-1-content {
      flex-wrap: wrap;
    }
  }

  .step-number {
    background-color: #577590;
    border-radius: 50%;
    align-self: start;
    align-items: center;
    color: #fbf8ee;
    white-space: nowrap;
    width: 25px;
    justify-content: center;
    height: 25px;
    font: 20px/124% Unbounded, sans-serif;
  }

  @media (max-width: 1200px) {
    .step-number {
      white-space: initial;
    }
  }

  .step-description {
    color: #000;
    flex-grow: 1;
    flex-basis: auto;
    font: 16px/19px Unbounded, sans-serif;
    line-height: 30px;
  }

  @media (max-width: 1200px) {
    .step-description {
      max-width: 100%;
    }
  }

  .step-1-image {
    aspect-ratio: 2.78;
    object-fit: contain;
    width: 243px;
    align-self: end;
    z-index: 10;
    margin-top: -34px;
    max-width: 100%;
  }

  .step-2 {
    z-index: 10;
    display: flex;
    margin-top: -12px;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 65px;
    flex-direction: column;
    font-weight: 300;
  }

  @media (max-width: 1200px) {
    .step-2 {
      max-width: 100%;
    }
  }

  .step-2-image {
    aspect-ratio: 2.86;
    object-fit: contain;
    width: 584px;
    border-radius: 10px;
    z-index: 10;
    max-width: 100%;
  }

  .step-2-content {
    align-self: end;
    display: flex;
    margin-top: -170px;
    gap: 14px;
  }

  @media (max-width: 1200px) {
    .step-2-content {
      flex-wrap: wrap;
    }
  }

  .steps-3-5 {
    align-self: start;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 50px 0 0 60px;
  }

  @media (max-width: 1200px) {
    .steps-3-5 {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .steps-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
  }

  @media (max-width: 1200px) {
    .steps-wrapper {
      max-width: 100%;
      padding: 0 0px;
    }
  }

  .step-3 {
    display: flex;
    gap: 14px;
    font-weight: 300;
    line-height: 124%;
    margin: 0 17px;
  }

  @media (max-width: 1200px) {
    .step-3 {
      margin-right: 10px;
      flex-wrap: wrap;
    }
  }

  .step-4 {
    display: flex;
    gap: 15px;
    font-weight: 300;
    line-height: 124%;
    margin: 73px 17px 0;
  }

  @media (max-width: 1200px) {
    .step-4 {
      flex-wrap: wrap;
      margin: 40px 10px 0 0;
    }
  }

  .step-5 {
    display: flex;
    gap: 15px;
    font-weight: 300;
    margin: 73px 17px 0;
  }

  @media (max-width: 1200px) {
    .step-5 {
      flex-wrap: wrap;
      margin: 40px 10px 0 0;
    }
  }




  .start-learning-button {
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 50px;
    align-items: center;
    background: linear-gradient(98deg, #fb7c08 0%, #ec7b14 119.56%);
    box-shadow: 2px 5px 28.8px 0px rgba(0, 0, 0, 0.25);
    align-self: center;
    margin-top: 71px;
    /* color: #fbf8ee; */
    padding: 17px 21px;
    gap: 10px;
    display: inline-flex;
    /* font: 300 20px Unbounded, sans-serif; */
    text-decoration: none;
  }

.start-learning-button a{
    color: #FBF8EE;
    text-decoration: none;
}

@media (max-width: 1200px) {
  .start-learning {
    margin-top: 40px;
    padding: 0 20px;
  }
}

.vacancies-section {
  margin: 53px 17px 0;
}

@media (max-width: 1200px) {
  .vacancies-section {
    max-width: 100%;
    margin: 40px 10px 0 0;
  }
}

.vacancies-content {
  gap: 20px;
  display: flex;
}

@media (max-width: 1200px) {
  .vacancies-content {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }
}

.vacancies-description {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 100%;
  margin-left: 0px;
}

@media (max-width: 1200px) {
  .vacancies-description {
    width: 100%;
  }
}

.vacancies-text {
  display: flex;
  margin-top: 10px;
  flex-grow: 1;
  flex-direction: column;
  font-weight: 300;
  line-height: 30px;
}

@media (max-width: 1200px) {
  .vacancies-text {
    max-width: 100%;
    margin-top: 40px;
  }
}

.vacancies-paragraph {
  color: #000;
  font: 16px/19px Unbounded, sans-serif;
    line-height: 30px;
}

@media (max-width: 1200px) {
  .vacancies-paragraph {
    max-width: 100%;
  }
}

.vacancies-button {
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 50px;
  box-shadow: 2px 5px 28.8px 0px rgba(0, 0, 0, 0.25);
  background-color: #97cc04;
  align-self: start;
  margin-top: 40px;
  color: #577590;
  padding: 17px 21px;
  font: 20px Unbounded, sans-serif;
}

@media (max-width: 1200px) {
  .vacancies-button {
    padding: 0 20px;
  }
}

.vacancies-image-wrapper {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 45%;
  margin-left: 20px;
}

@media (max-width: 1200px) {
  .vacancies-image-wrapper {
    width: 100%;
  }
}

.vacancies-image {
  aspect-ratio: 1.82;
  object-fit: contain;
  width: 100%;
  flex-grow: 1;
}

@media (max-width: 1200px) {
  .vacancies-image {
    max-width: 100%;
    margin-top: 40px;
  }
}

.bottom-divider {
  width: 100%;
  border: 1px solid #000;
  margin-top: 97px;
}

@media (max-width: 1200px) {
  .bottom-divider {
    max-width: 100%;
    margin-top: 40px;
  }
}

.footer {
  align-self: center;
  display: flex;
  margin-top: 23px;
  width: 620px;
  max-width: 100%;
  gap: 20px;
  font-size: 14px;
  color: #000;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .footer {
    flex-wrap: wrap;
  }
}

.operator-policy {
  font-family: Unbounded, sans-serif;
  text-decoration: none;
  flex-grow: 1;
}

.operator-name {
  font-family: Unbounded, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}

.operator-email {
  font-family: Unbounded, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}

  .vacancies-section {
  margin: 53px 17px 0;
}

@media (max-width: 1200px) {
  .vacancies-section {
    max-width: 100%;
    margin: 40px 10px 0 0;
  }
}

.vacancies-container {
  display: flex;
  gap: 20px;
}

@media (max-width: 1200px) {
  .vacancies-container {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }
}

.vacancies-content {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 45%;
  margin-left: 140px;
}

@media (max-width: 1200px) {
  .vacancies-content {
    width: 100%;
  }
}

.vacancies-description {
  display: flex;
  margin-top: 10px;
  flex-grow: 1;
  flex-direction: column;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .vacancies-description {
    max-width: 100%;
    margin-top: 40px;
  }
}

.vacancies-text {
  color: #000;
  font: 16px/19px Unbounded, sans-serif;
}

@media (max-width: 1200px) {
  .vacancies-text {
    max-width: 100%;
  }
}

.vacancies-button {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 50px;
  box-shadow: 2px 5px 28.8px 0 rgba(0, 0, 0, 0.25);
  background-color: #97cc04;
  align-self: start;
  margin-top: 40px;
  color: #577590;
  padding: 17px 21px;
  font: 20px Unbounded, sans-serif;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .vacancies-button {
    padding: 0 20px;
  }
}

.vacancies-image-container {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 40%;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .vacancies-image-container {
    width: 100%;
    margin-right: 100px;
  }
}

.vacancies-image {
  aspect-ratio: 1.82;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}

@media (max-width: 1200px) {
  .vacancies-image {
    max-width: 100%;
    margin-top: 40px;
  }
}

.footer__content{
    max-width: 622px;
    margin: 0 auto;

}